---
layout: page
---
<main class="container">
    <div class="row">
        <div class="col-md-8">
            {% include services.html %}
        </div>
        
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
            <div>
                <h4 class="fst-italic">Artículos recientes</h4>
                <ul class="list-unstyled">
                {% for recent_post in site.posts limit: 5 | where: "draft", false %}
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{{ recent_post.url }}">
                    <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                    <div class="col-lg-8">
                        <h6 class="mb-0">{{ recent_post.title }} </h6>
                        <small class="text-body-secondary">
                        {% include translated_date.html date=recent_post.date format="%-d %B %Y" %}
                        </small>
                    </div>
                    </a>
                </li>
                {% endfor %}
                </ul>
            </div>
            </div>
        </div> 
    </div>
</main>
