---
layout: page
---

{% assign context = site.data.legislatura-xiv.context %}
{% assign promises = site.data.legislatura-xiv.promises %}
{% assign icons = site.data.legislatura-xiv.icons %}
{% assign statuses = site.data.legislatura-xiv.statuses %}
{% assign total = promises | size %}

{% assign categories = promises | map: 'category' | uniq %}

<div class="border my-3 p-3 bg-body rounded shadow-sm">

    <div class="row promises-header page-header" id="promises-header">
        <div class="col-md-6">
            <ul class="list-group">
                <!-- <li class="list-group-item list-group-item inauguration-time-container">
                    <i class="fa fa-home fa-fw"></i>
                    <b id="inauguration-time">Days Till Inauguration: <span id="inauguration-days"><i class='loading'>Loading...</i></span></b>
                </li> -->
                <input type="text" class="d-none" name="inauguration" id="inauguration" value="{{ context.from}}">
                <li class="list-group-item list-group-item">
                    <i class="fa fa-calendar fa-fw"></i>
                    <h3><b>Duración</b> <span id="days-in-office"><i class='loading'>Loading...</i></span> días</h3>
                    
                </li>

                {% for status in statuses %}
                    {% assign status_name = status[0] %}
                    {% assign status_data = status[1] %}
                    <li class="list-group-item list-group-item-{{ status_data['color'] }}" data-list-facet="js-promise-status" data-facet-value="{{ status_name }}" data-select-single="true">
                        <i class="fa fa-fw fa-{{ status_data['icon'] }} "></i>
                        {{ status_name }}: <span class="active-points">{{ promises | where: "status",status_name | size }}</span> of <span class="total-points">{{ total }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <p>{{ context.description }}</p>            
        </div>
    </div>

    <div class="promises py-2" id="promises">
        <div class="col">
            <form action="#" class="form-inline">
                <div class="input-group mb-3">
                  <input type="text" class="form-control search" id="search" name="search" placeholder="{{ site.data.ui-text[site.locale].search_label | default: 'Search' }}">
                  <div class="input-group-append promises__category--reset">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="fa fa-fw fa-refresh"></i> {{ site.data.ui-text[site.locale].delete_filters_label | default: "Delete filters" }}
                        <i class="fa fa-fw fa-filter"></i><span id="count">{{ total }}</span>/{{ total }}
                    </button>
                  </div>
                </div>
            </form>
        </div>
        <div class="col promises__statuses">
            {% for status in statuses %}
                {% assign status_name = status[0] %}
                {% assign status_data = status[1] %}
                <button class="btn btn-{{ status_data['color'] }} btn-sm" data-list-facet="js-promise-status" data-facet-value="{{ status_name }}" data-select-single="true">
                    <i class="fa fa-{{ status_data['icon'] }} fa-fw" aria-hidden="true"></i>
                    <span class="remove-on-mobile">{{ status_name }}</span>
                </button>
            {% endfor %}
        </div>
    </div>

    <div class="row">

        <div class="row">
            <ul class="nav nav-tabs" id="myTabs" role="tablist" >
                {% for category in categories %}
                    <li role="presentation" data-list-facet="js-promise-category" data-facet-value="{{ category }}" class="{{ category }}">
                        <a href="#" role="tab" data-toggle="tab" class="text-muted">
                            <i class="fa fa-fw fa-{{ icons[category] }}"></i>&nbsp;
                            <span class="remove-on-mobile">{{ category }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    <!-- <div class="row promises__category-row">
        <div class="col-md-12">

            <div class="promises__categories">

                {% for category in categories %}
                <button class="promises__category btn btn-default" data-list-facet="js-promise-category" data-facet-value="{{ category }}">
                    <i class="fa fa-fw fa-{{ icons[category] }}"></i> {{ category }}
                </button>
                {% endfor %}

            </div>

        </div>
    </div> -->
    <!-- /.promises__category-row -->

    <div class="row promises__table container-fluid">
                <table class="table">

                    <thead>
                    <tr>
                        <th><!-- ID --></th>
                        <!--<th>Status</th>-->
                        <!--<th>Category</th>-->
                        <!-- <th>Tags</th> -->
                        <th>{{ site.data.ui-text[site.locale].promises_label | default: "Promise/s" }}</th>
                        <!-- <th>Sources</th> -->
                        <th>{{ site.data.ui-text[site.locale].more_info_label | default: "More info." }}</th>
                    </tr>
                    </thead>

                    <tbody class="list">
                    <!-- add color to each policy -->
                    {% for promise in promises %}
                    <tr class="promise {% if promise.status == 'In progress' %}warning{% endif %}{% if promise.status == 'Achieved' %}success{% endif %}{% if promise.status == 'Broken' %}danger{% endif %}{% if promise.status == 'Compromised' %}compromised{% endif %}">
                        <td class="promise__id">{{ forloop.index }}.</td>

                        <!--
                         <td class="promise__status" title="{{ promise.status }}">
                            <i class="fa fa-fw fa-{{ statuses[promise.status]['icon'] }} text-{{ statuses[promise.status]['color'] }}" title="{{ promise.status }}"></i>
                            <span class="promise__status-text js-promise-status sr-only">{{ promise.status }}</span>
                        </td>
                        -->
                        <!--
                        <td class="promise__category" style="white-space: nowrap;">
                            <i class="fa fa-fw fa-{{ icons[promise.category] }}"></i> <span class="js-promise-category">{{ promise.category }}</span>
                        </td>
                        -->
                        <!-- <td class="promise__tags" style="text-align: center;">
                            {% for tag in promise.tags %}
                            <a class="label label-default">{{ tag }}</a>
                            {% endfor %}
                        </td> -->
                        <td class="promise__title js-promise-text">
                        <b><span class="js-promise-category">{{ promise.category }}</span>:</b>
                        <span class="promise__status-text js-promise-status sr-only">{{ promise.status }}</span>
                        {{ promise.title }}
                        <!-- add superscript citations and sources -->
                        {% for source in promise.sources %}
                            <sup><a href="{{ source[1] }}">{{ forloop.index }}</a></sup>
                        {% endfor %}
                        </td>
                        <!-- <td class="promise__sources" style="white-space: nowrap;">
                        </td> -->
                        <td class="promise__actions">
                            <!-- comment and twitter integration -->
                            <a href="{{ site.url }}/{{ promise.url | replace: 'https://seguimiento-politico.github.io', '' }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
</div>
<!-- /#promises -->
