---
layout: page
---

{% assign context = site.data.legislatura-xiv.context %}
{% assign promises = site.data.legislatura-xiv.promises %}
{% assign icons = site.data.legislatura-xiv.icons %}
{% assign statuses = site.data.statuses %}
{% assign total = promises | size %}

{% assign categories = promises | map: 'category' | uniq %}
<div class="border my-3 p-3 bg-body rounded shadow-sm">
<div class="container promises-header page-header" id="promises-header">
    <div class="row">
        <!-- % assign not_achieved = promises | where_exp: "item", "item.status contains 'Broken' or item.status contains 'Not started' or item.status contains 'In progress'" % 
        % assign not_achieved_percent = not_achieved | times: 100 | divided_by: total % -->

        <h2>Estadísticas de {{ context.name }}</h2>
        <p><b>Desde</b>  {{ context.from }} <b>Hasta</b>  {% if context.to %} {{ context.to }} {% else %} Actualidad {% endif %}</p>
        <p><b>Duración</b>  <span id="days-in-office"><i class='loading'>Loading...</i></span> días</p>
        <p><b>Total compromisos electorales: </b> {{ promises | size }} de los cuales el {{ not_achieved_percent }}% no se han cumplido.</p> 
        <div class="col-md-6 mb-2">
            <ul class="list-group">
                <!-- <li class="list-group-item list-group-item inauguration-time-container">
                    <i class="fa fa-home fa-fw"></i>
                    <b id="inauguration-time">Days Till Inauguration: <span id="inauguration-days"><i class='loading'>Loading...</i></span></b>
                </li> -->
                <input type="text" class="d-none" name="inauguration" id="inauguration" value="{{ context.from }}">
                <li class="list-group-item list-group-item bg-dark text-light">Selecciona para <b>filtrar por estado</b></li>

                {% for status in statuses %}
                    {% assign status_name = status[0] %}
                    {% assign status_data = status[1] %}
                    {% assign label = status[1].label %}
                    {% assign  current = promises | where: "status",status_name | size %}
                    {% assign calc = current | times: 100 | divided_by: total %}

                    <li class="list-group-item list-group-item-{{ status_data['color'] }} d-flex justify-content-between align-items-center" data-list-facet="js-promise-status" data-facet-value="{{ status_name }}" >
                        {{ site.data.ui-text[site.locale].[label] }}
                        <span class="badge bg-dark rounded-pill">{{ current }}</span>
                    </li>
                {% endfor %}

            </ul>

        </div>

        <div class="col-md-6">
            <ul class="list-group">
                <!-- <li class="list-group-item list-group-item inauguration-time-container">
                    <i class="fa fa-home fa-fw"></i>
                    <b id="inauguration-time">Days Till Inauguration: <span id="inauguration-days"><i class='loading'>Loading...</i></span></b>
                </li> -->
                <input type="text" class="d-none" name="inauguration" id="inauguration" value="{{ context.from }}">
                <li class="list-group-item list-group-item bg-dark text-light">Selecciona para <b>filtrar por categoría</b></li>

                {% for category in categories %}
                    {% assign category_name = status[0] %}
                    {% assign  current = promises | where: "category", category | size %}
                    {% assign calc = current | times: 100 | divided_by: total %}

                    <li class="list-group-item" data-list-facet="js-promise-category" data-facet-value="{{ category }}" data-select-single="true">
                        {{ category }}: <span class="active-points">{{ current }}</span> de <span class="total-points">{{ total }}</span>
                    </li>
                {% endfor %}

            </ul>

        </div>
    </div>

<div class="promises" id="promises">
    <div class="row promises__search-row py-2">
        <div class="col">
            <form action="#" class="form-inline">
                <div class="input-group">
                  <input type="text" class="form-control form-control-sm search" id="search" name="search" placeholder="{{ site.data.ui-text[site.locale].search_label | default: 'Search' }}">
                  <div class="input-group-append promises__category--reset">
                    <button class="btn btn-sm btn-outline-secondary" type="button">
                        <i class="fa fa-fw fa-refresh"></i> {{ site.data.ui-text[site.locale].delete_filters_label | default: "Delete filters" }}
                        <i class="fa fa-fw fa-filter"></i>
                    </button>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <div class="promises__table py-4">
        <table class="table ">

            <thead>
            <tr class="bg-dark text-light">
                <th><!-- ID --></th>
                <!--<th>Status</th>-->
                <!--<th>Category</th>-->
                <!-- <th>Tags</th> -->
                <th>{{ site.data.ui-text[site.locale].promises_label | default: "Promise/s" }}</th>
                <!-- <th>Sources</th> -->
                <th>{{ site.data.ui-text[site.locale].more_info_label | default: "More info." }}</th>
            </tr>
            </thead>

            <tbody class="list">
            <!-- add color to each policy -->
            {% for promise in promises %}
            <tr class="promise list-group-item-{{ statuses[promise.status].color }} {% if promise.status == 'In progress' %}warning{% endif %}{% if promise.status == 'Achieved' %}success{% endif %}{% if promise.status == 'Broken' %}danger{% endif %}{% if promise.status == 'Compromised' %}compromised{% endif %}">
                <td class="promise__id">{{ promise.id }}.</td>

                <!--
                 <td class="promise__status" title="{{ promise.status }}">
                    <i class="fa fa-fw fa-{{ statuses[promise.status]['icon'] }} text-{{ statuses[promise.status]['color'] }}" title="{{ promise.status }}"></i>
                    <span class="promise__status-text js-promise-status sr-only">{{ promise.status }}</span>
                </td>
                -->
                <!--
                <td class="promise__category" style="white-space: nowrap;">
                    <i class="fa fa-fw fa-{{ icons[promise.category] }}"></i> <span class="js-promise-category">{{ promise.category }}</span>
                </td>
                -->
                <!-- <td class="promise__tags" style="text-align: center;">
                    {% for tag in promise.tags %}
                    <a class="label label-default">{{ tag }}</a>
                    {% endfor %}
                </td> -->
                <td class="promise__title js-promise-text">
                <b><span class="js-promise-category">{{ promise.category }}</span>:</b>
                {{ promise.title }}
                <!-- add superscript citations and sources -->
                {% for source in promise.sources %}
                    <sup><a href="{{ source[1] }}">{{ forloop.index }}</a></sup>
                {% endfor %}
                </td>
                <!-- <td class="promise__sources" style="white-space: nowrap;">
                </td> -->
                <td class="promise__actions">
                    <!-- comment and twitter integration -->
                    <a href="{{ page.url | replace: '.html', '' }}/{{ promise.url }}"><i class="fa fa-chevron-right" aria-hidden="true"></i>></a>

                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
       
</div>
<!-- /#promises -->
</div>