{% assign logos_path = site.logos_path %}

{% if track_data.context.scope == "national" or track_data.context.scope == "regional" or track_data.context.scope == "local" and track_data.context.country %}
    {% assign logos_path = site.images_path | append: 'organizations/' | append: track_data.context.country | append: '/' %}
    {% if track_data.context.region %}
        {% assign logos_path = logos_path | append: track_data.context.region | append: '/' %}
        {% if track_data.context.locality %}
            {% assign logos_path = logos_path | append: track_data.context.locality | append: '/' %}
        {% endif %}
    {% endif %}
{% endif %}

{% assign exists = false %}
{% if type == 'party' %}
    {% assign party_name = item.party | slugify %}
    {% assign logos_path = logos_path | append: party_name | append: '.gif'  %}
    {% for static_file in site.static_files %}
        {% if static_file.path == logos_path %}
            {% assign exists = true %}
        {% endif %}
    {% endfor %}
{% endif %}

