
{% if element[1].analysis %}
    {% for analysis in element[1].analysis %}
        {% if analysis.information %}
            {% assign color = "info" %}
        {% elsif analysis.fallacy %}
            {% assign color = "danger" %}
        {% elsif analysis.motivation or analysis.consequences %}
            {% assign color = "secondary" %}
        {% else %}
            {% assign color = "warning" %}
        {% endif %}

        {% include analysis_show_callouts.html %}
    {% endfor %}
{% endif %}

{% if element[1].arguments %}
    {% for argument in element[1].arguments %}
        {% if argument.analysis %}
            {% for analysis in argument.analysis %}
                {% if analysis.information %}
                    {% assign color = "info" %}
                {% elsif analysis.fallacy %}
                    {% assign color = "danger" %}
                {% elsif analysis.motivation or analysis.consequences %}
                    {% assign color = "secondary" %}
                {% else %}
                    {% assign color = "warning" %}
                {% endif %}

                {% include analysis_show_callouts.html %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}


{% if element[1].prescriptions %}
    {% for prescription in element[1].prescriptions %}
        {% if prescription.analysis %}
            {% for analysis in prescription.analysis %}
                {% if analysis.information %}
                    {% assign color = "info" %}
                {% elsif analysis.fallacy %}
                    {% assign color = "danger" %}
                {% elsif analysis.motivation or analysis.consequences %}
                    {% assign color = "secondary" %}
                {% else %}
                    {% assign color = "warning" %}
                {% endif %}
                
                {% include analysis_show_callouts.html %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if element[1].actions %}
    {% for action in element[1].actions %}
        {% if action.analysis %}
            {% for analysis in action.analysis %}
                {% if analysis.information %}
                    {% assign color = "info" %}
                {% elsif analysis.fallacy %}
                    {% assign color = "danger" %}
                {% else %}
                    {% assign color = "warning" %}
                {% endif %}
                
                {% include analysis_show_callouts.html %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
