{% if track_data.config.scope == 'national' %}
    {% assign categories_data = site.data.categorization.[track_data.config.categorization].categories | sort: 'name' %}
    {% assign statuses_data = site.data.categorization.[track_data.config.categorization].statuses %}
{% elsif track_data.config.scope == 'international' %}
    {% assign categories_data = site.data.categorization.[track_data.config.organization].[track_data.config.categorization].categories | sort: 'name' %}
    {% assign statuses_data = site.data.categorization.[track_data.config.organization].[track_data.config.categorization].statuses %}
{% endif %}