{% capture comments_label %}{{ site.data.ui-text[site.locale].comments_label | default: "Comments" }}{% endcapture %}

<div class="card my-3">
    <div class="card-header">
        <span class="align-self-center">
            {{ comments_label }}
        </span>
        <span class="badge rounded-pill bg-secondary">
            {% if site.data.comments[page.slug].size > 0 %}
                {{ site.data.comments[page.slug] | size }}
            {% else %}
                0
            {% endif %}
        </span>
    </div>
    <div class="card-body">
        <div class="position-relative my-3">
            <button class="btn btn-sm btn-primary position-absolute top-0 end-0 translate-middle-y" id="new-comment-link" style=""><i class="fas fa-fw fa-plus"></i> Dejar un comentario</button>
        </div>
        {% include comment-form.html %}
        {% if site.data.comments[page.slug] %}
            <div id="comments" class="page__comments js-comments">
                <!-- {% assign comments = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1]._parent == comment[1]._id' %} -->
                {% assign comments = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1]._parent == null'%}
                {% assign level = 0 %}
                {% include comments_loop.html comments=comments level=level %}
            </div>
        {% endif %}       
    </div>
</div>
