{% assign promises = site.data.promises | where: "ref_id", doc.id | sort: 'ref_parent_chapter' %}

{% assign categories_data = site.data.categorization.promesas-politica-estatal.categories | sort: 'name' %}
{% assign statuses_data = site.data.categorization.promesas-politica-estatal.statuses %}

<style>  
    ol {  
    list-style-type: none;  
    }  
    ul {  
    list-style-type: none;   
    }  
    </style>

<main class="bd-main">
    <div class="bd-intro pt-2 ps-lg-2">
        <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
            <div class="mb-3 mb-md-0 d-flex text-nowrap">
                <a class="btn btn-sm btn-bd-light rounded-2 ms-2" href="{{doc.url}}" title="Ver el documento original" target="_blank" rel="noopener">
                    <i class="fas fa-fw fa-file-pdf fa-fw"></i> Doc. original
                </a>
                <a class="btn btn-sm btn-bd-light rounded-2 ms-2" href="{{doc.web_history}}" title="Ver el documento original (respaldo)" target="_blank" rel="noopener">
                    <i class="fas fa-fw fa-calendar-days fa-fw"></i> Doc. historico
                </a>
            </div>
            <h2 class="bd-title mb-0" id="content">{{ doc.parties}} - {{ doc.title }}</h2>
        </div>
        <p class="bd-lead">{{ doc.description }}</p>
        <hr class="d-none d-md-block my-2">
    </div>
    
    <!-- TOC -->
    <div class="bd-toc mt-3 mb-5 my-lg-0 mb-lg-5 px-sm-1 text-body-secondary">
        <button class="btn btn-link p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false" aria-controls="tocContents">
        Índice
        <svg class="bi d-md-none ms-2" aria-hidden="true"><use xlink:href="#chevron-expand"></use></svg>
        </button>
        <strong class="d-none d-md-block h6 my-2 ms-3">Índice</strong>
        <hr class="d-none d-md-block my-2 ms-3">
        <div class="collapse bd-toc-collapse" id="tocContents">
            <nav id="TableOfContents">
                <ul>
                    {% for chapter in doc.index %}
                    <li><a href="#{{chapter.title | slugify}}" class="">{{chapter.chapter}}. {{ chapter.title }}</a>
                        <ul>
                            {% for sub_chapter in chapter.children %}
                                <li><a href="#{{sub_chapter.title | slugify}}" class="">{{chapter.chapter}}.{{sub_chapter.chapter}}. {{ sub_chapter.title }} </a></li>
                                <ul>
                                    {% for sub2_chapter in sub_chapter.children %}
                                        <li><a href="#{{sub2_chapter.title | slugify}}" class="">{{chapter.chapter}}.{{sub_chapter.chapter}}.{{sub2_chapter.chapter}}. {{ sub2_chapter.title }} </a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    
    <!-- CONTENT -->
    <div class="bd-content ps-lg-2">
        {% for chapter in doc.index %}
            <h2 id="{{chapter.title | slugify}}">{{chapter.chapter}}. {{chapter.title}} </h2>
            {% assign proms = promises | where: 'ref_id', doc.id | where: 'ref_parent_chapter', chapter.chapter | sort: 'ref_section' %}
            {% if chapter.description %}<p>{{ chapter.description }}</p>{% endif %}
            <ul >
                {% for item in proms %}
                    {% assign item_analysis = site.data.promises_analysis | where: "promise_id", item.id %} 
                    {% if item_analysis[0].status %}
                        {% assign status = statuses_data | where: "name", item_analysis[0].status | first %}
                    {% else %}
                        {% assign status = site.data.categorization.default.statuses | first %}
                    {% endif %}
                    <li>
                        {% assign promises = site.data.promises %}
                                {% for promise in promises %}
                                    {% if promise[1].id == item.id %}
                                    <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="Cumplimiento: {{ site.data.ui-text[site.locale].[status.lang_label] | default: status.name }}"></i>
                                        <a class="link-{{status.color}}" href="/promises/{{ promise[0] }}">{{ item.title }}</a>    
                                        {% if item.topics %}
                                        <span class="fw-light">
                                            {% for topic in item.topics %}
                                                {{ topic.name}}
                                                {% if forloop.last == false %}
                                                    {{ ", "}}
                                                {% endif %}     
                                            {% endfor %}
                                        </span>
                                        {% endif %}
                                    {% endif %}   
                                {% endfor %}
                    </li>
                {% endfor %}
            </ul>

            {% for chapter1 in chapter.children %}
                <h3 id="{{chapter1.title | slugify}}" >{{chapter.chapter}}.{{chapter1.chapter}}. {{chapter1.title}} </h3>
                {% assign index = chapter.chapter | append: "." | append: chapter1.chapter %}
                {% assign proms = promises | where: 'ref_id', doc.id | where: 'ref_parent_chapter', index | sort: 'ref_section' %}
                {% if chapter1.description %}<p>{{ chapter1.description }}</p>{% endif %}
                <ul >
                    {% for item in proms %}
                        {% assign item_analysis = site.data.promises_analysis | where: "promise_id", item.id %} 
                        {% if item_analysis[0].status %}
                            {% assign status = statuses_data | where: "name", item_analysis[0].status | first %}
                        {% else %}
                            {% assign status = site.data.categorization.default.statuses | first %}
                        {% endif %}
                        <li>
                            {% assign promises = site.data.promises %}
                                {% for promise in promises %}
                                    {% if promise[1].id == item.id %}
                                    <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="Cumplimiento: {{ site.data.ui-text[site.locale].[status.lang_label] | default: status.name }}"></i>
                                    {% if item.topics %}
                                    <span class="fw-light">
                                        {% for topic in item.topics %}
                                            {{ topic.name}}
                                            {% if forloop.last == false %}
                                                {{ ", "}}
                                            {% endif %}     
                                        {% endfor %}
                                    </span>
                                    {% endif %}
                                    {% endif %}   
                                {% endfor %}                    
                        </li>
                    {% endfor %}
                </ul>

                {% for chapter2 in chapter1.children %}
                    <h4 id="{{chapter2.title | slugify}}" >{{chapter.chapter}}.{{chapter1.chapter}}.{{chapter2.chapter}}. {{chapter2.title}} </h4>
                    {% assign index = chapter.chapter | append: "." | append: chapter1.chapter | append: "." | append: chapter2.chapter %}
                    {% assign proms = promises | where: 'ref_id', doc.id | where: 'ref_parent_chapter', index | sort: 'ref_section' %}
                    {% if chapter2.description %}<p>{{ chapter2.description }}</p>{% endif %}
                    <ul>
                        {% for item in proms %}
                            {% assign item_analysis = site.data.promises_analysis | where: "promise_id", item.id %} 
                            {% if item_analysis[0].status %}
                                {% assign status = statuses_data | where: "name", item_analysis[0].status | first %}
                            {% else %}
                                {% assign status = site.data.categorization.default.statuses | first %}
                            {% endif %}
                            <li>
                                {% assign promises = site.data.promises %}
                                {% for promise in promises %}
                                    {% if promise[1].id == item.id %}
                                    <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="Cumplimiento: {{ site.data.ui-text[site.locale].[status.lang_label] | default: status.name }}"></i>
                                        <a class="link-{{status.color}}" href="/promises/{{ promise[0] }}">{{ item.title }}</a>    
                                        {% if item.topics %}
                                        <span class="fw-light">
                                            {% for topic in item.topics %}
                                                {{ topic.name}}
                                                {% if forloop.last == false %}
                                                    {{ ", "}}
                                                {% endif %}     
                                            {% endfor %}
                                        </span>
                                        {% endif %}
                                    {% endif %}   
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>

                    {% for chapter3 in chapter2.children %}
                        <h5 id="{{chapter3.title | slugify}}" >{{chapter.chapter}}.{{chapter1.chapter}}.{{chapter2.chapter}}.{{chapter3.chapter}}. {{chapter3.title}} </h5>
                        {% assign index = chapter.chapter | append: "." | append: chapter1.chapter | append: "." | append: chapter2.chapter | append: "." | append: chapter3.chapter %}
                        {% assign proms = promises | where: 'ref_id', doc.id | where: 'ref_parent_chapter', index | sort: 'ref_section' %}
                        {% if chapter3.description %}<p>{{ chapter3.description }}</p>{% endif %}
                        <ul >
                            {% for item in proms %}
                                {% assign item_analysis = site.data.promises_analysis | where: "promise_id", item.id %} 
                                {% if item_analysis[0].status %}
                                    {% assign status = statuses_data | where: "name", item_analysis[0].status | first %}
                                {% else %}
                                    {% assign status = site.data.categorization.default.statuses | first %}
                                {% endif %}
                                <li>
                                    {% assign promises = site.data.promises %}
                                {% for promise in promises %}
                                    {% if promise[1].id == item.id %}
                                    <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="Cumplimiento: {{ site.data.ui-text[site.locale].[status.lang_label] | default: status.name }}"></i>
                                        <a class="link-{{status.color}}" href="/promises/{{ promise[0] }}">{{ item.title }}</a>    
                                        {% if item.topics %}
                                        <span class="fw-light">
                                            {% for topic in item.topics %}
                                                {{ topic.name}}
                                                {% if forloop.last == false %}
                                                    {{ ", "}}
                                                {% endif %}     
                                            {% endfor %}
                                        </span>
                                        {% endif %}
                                    {% endif %}   
                                {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>

                        {% for chapter4 in chapter3.children %}
                            <h6 id="{{chapter4.title | slugify}}">{{chapter.chapter}}.{{chapter1.chapter}}.{{chapter2.chapter}}.{{chapter3.chapter}}.{{chapter4.chapter}}. {{chapter4.title}} </h6>
                            {% assign index = chapter.chapter | append: "." | append: chapter1.chapter | append: "." | append: chapter2.chapter | append: "." | append: chapter3.chapter | append: "." | append: chapter4.chapter %}
                            {% assign proms = promises | where: 'ref_id', doc.id | where: 'ref_parent_chapter', index | sort: 'ref_section' %}
                            {% if chapter4.description %}<p>{{ chapter4.description }}</p>{% endif %}
                            <ul >
                            {% for item in proms %}
                                {% assign item_analysis = site.data.promises_analysis | where: "promise_id", item.id %} 
                                {% if item_analysis[0].status %}
                                    {% assign status = statuses_data | where: "name", item_analysis[0].status | first %}
                                {% else %}
                                    {% assign status = site.data.categorization.default.statuses | first %}
                                {% endif %}
                                <li>
                                    {% assign promises = site.data.promises %}
                                {% for promise in promises %}
                                    {% if promise[1].id == item.id %}
                                    <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="Cumplimiento: {{ site.data.ui-text[site.locale].[status.lang_label] | default: status.name }}"></i>
                                        <a class="link-{{status.color}}" href="/promises/{{ promise[0] }}">{{ item.title }}</a>    
                                        {% if item.topics %}
                                        <span class="fw-light">
                                            {% for topic in item.topics %}
                                                {{ topic.name}}
                                                {% if forloop.last == false %}
                                                    {{ ", "}}
                                                {% endif %}     
                                            {% endfor %}
                                        </span>
                                        {% endif %}
                                    {% endif %}   
                                {% endfor %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</main>