{% if include.parent_index %}
    {% assign level = include.parent_index | split:"." | size %}
{% else %}
    {% assign level = 1 %}
{% endif %}

{% if level <= levels %}
    {% for item in include.position %}
        {% for element in item %}
            {% if element[0] == "chapter" %}
                {% assign index = index | plus: 1 %}
                {% if include.parent_index %}
                    {% assign absolute_index = include.parent_index | append: "." | append: index %}
                {% else %}
                    {% assign absolute_index = index %}
                {% endif %}
                    
                <li>
                    <a href="#{{absolute_index}}-{{element[1].title | slugify}}" class="">{{ absolute_index}}. {{ element[1].title }}</a>
                    
                    {% if element[1].children %}
                    <ul>   
                        {% assign index = 0 %} 
                        {% assign content = element[1].children %}
                        {% include document_toc_loop.html parent_index=absolute_index position=content %} 
                    </ul>
                    {% endif %}
                </li>    
            {% endif %}
        {% endfor %}
    {% endfor %}
 
    {% if include.parent_index %}
        {% assign index = include.parent_index | split:"." | last %}
        {% assign absolute_index = include.parent_index | pop %}
    {% endif %}
{% endif %}