<div class="sidebar py-3">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <span class="fs-5 fw-semibold">Índice</span>
        <ul class="list-unstyled ps-0 border-top my-3">
        {% for chapter in doc.index %}
            <li class="mb-1 border-top">
                <button class="btn btn-toggle align-items-center rounded collapsed text-start" data-bs-toggle="collapse" data-bs-target="#main_{{chapter.title | slugify}}" aria-expanded="true">
                    {{chapter.chapter}}. {{ chapter.title }}
                </button>
                <div class="collapse ms-3" id="main_{{chapter.title | slugify}}">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {% for sub_chapter in chapter.children %}
                            <li>
                                <button class="btn btn-toggle align-items-center rounded collapsed text-start" data-bs-toggle="collapse" data-bs-target="#sub_{{sub_chapter.title | slugify}}" aria-expanded="true">
                                    {% if sub_chapter.children %} 
                                        {{sub_chapter.chapter}}. {{ sub_chapter.title }} 
                                    {% else %}
                                        <a href="#" class="link-dark rounded">{{sub_chapter.chapter}}. {{sub_chapter.title}}</a>
                                    {% endif %}
                                </button>
                                {% if sub_chapter.children %} 
                                <div class="collapse ms-4" id="sub_{{sub_chapter.title | slugify}}">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        {% for sub2_chapter in sub_chapter.children %}
                                            <li>
                                                <a href="#" class="link-dark rounded">{{sub2_chapter.chapter}}. {{sub2_chapter.title}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>