{% assign promises = site.data.statements | where: "doc_id", doc.id | where: 'type', "promise" | sort: 'ref_parent_chapter' %}

{% include categorization.html type='promises' %}

<style>  
    ol {  
    list-style-type: none;  
    }  
    ul {  
    list-style-type: none;   
    }  
</style>

<main class="bd-main">
    <div class="bd-intro pt-2 ps-lg-2">
        <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
            <div class="mb-3 mb-md-0 d-flex text-nowrap">
                <a class="btn btn-sm btn-bd-light rounded-2 ms-2" href="{{doc.url}}" title="Ver el documento original" target="_blank" rel="noopener">
                    <i class="fas fa-fw fa-file-pdf fa-fw"></i> Doc. original
                </a>
                <a class="btn btn-sm btn-bd-light rounded-2 ms-2" href="{{doc.web_history}}" title="Ver el documento original (respaldo)" target="_blank" rel="noopener">
                    <i class="fas fa-fw fa-calendar-days fa-fw"></i> Doc. historico
                </a>
            </div>
            <h2 class="bd-title mb-0" id="content">{{ doc.parties}} - {{ doc.title }}</h2>
        </div>
        <p class="bd-lead">{{ doc.description }}</p>
        <hr class="d-none d-md-block my-2">
    </div>
    
    <!-- TOC -->
    <div class="bd-toc mt-3 mb-5 my-lg-0 mb-lg-5 px-sm-1 text-body-secondary">
        <button class="btn btn-link p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false" aria-controls="tocContents">
        Índice
        <svg class="bi d-md-none ms-2" aria-hidden="true"><use xlink:href="#chevron-expand"></use></svg>
        </button>
        <strong class="d-none d-md-block h6 my-2 ms-3">Índice</strong>
        <hr class="d-none d-md-block my-2 ms-3">
        <div class="collapse bd-toc-collapse"id="tocContents">
            <nav id="TableOfContents">
                <ul>
                    {% for chapter in doc.content %}
                    <li><a href="#{{chapter.title | slugify}}" class="">{{forloop.index}}. {{ chapter.title }}</a>
                        <ul>
                            {% for sub_chapter in chapter.children %}
                                <li><a href="#{{sub_chapter.title | slugify}}" class="">{{forloop.index}}.{{forloop.parentloop.index}}. {{ sub_chapter.title }} </a></li>
                                <ul>
                                    {% for sub2_chapter in sub_chapter.children %}
                                        <li><a href="#{{sub2_chapter.title | slugify}}" class="">{{forloop.index}}.{{forloop.parentloop.index}}.{{forloop.parentloop.parentloop.index}}. {{ sub2_chapter.title }} </a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    
    <!-- CONTENT -->
    <div class="bd-content ps-lg-2" id="doc_content">
        {% for chapter in doc.index %}
            <h2 id="{{chapter.title | slugify}}">{{forloop.index}}. {{chapter.title}} </h2>
            {% assign proms = promises | where: 'doc_id', doc.id | where: 'ref_parent_chapter', chapter.chapter | sort: 'ref_section' %}
            {% if chapter.description %}
                    <div class="summary mx-0">
                        <p class="collapse" id="summary_{{chapter.title | slugify }}" data-bs-parent="#doc_content">
                            {{ chapter.description }}
                        </p>
                        <a class="read-more collapsed" data-bs-toggle="collapse" href="#summary_{{chapter.title | slugify }}" role="button" aria-expanded="false" aria-controls="summary_{{chapter.title | slugify }}"></a>
                    </div> 
            {% endif %}
            <ul >
                {% for item in proms %}
                    {% assign item_analysis = site.data.promises_analysis | where: "promise_id", item.id %} 
                    {% if item_analysis[0].status %}
                        {% assign status = statuses_data | where: "name", item_analysis[0].status | first %}
                    {% else %}
                        {% assign status = site.data.categorization.default.statuses | first %}
                    {% endif %}
                    <li>
                        {% assign promises = site.data.statements | where: 'type', "promise" %}
                        {% for promise in promises %}
                            {% if promise[1].id == item.id %}
                                <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="Cumplimiento: {{ site.data.locales.ui-text[site.lang].[status.lang_label] | default: status.name }}"></i>
                                <a class="link-{{status.color}}" href="/statements/{{ promise[0] }}">{{ item.title }}</a>    
                                {% if include.type == 'mini' or include.type == 'schematic' or include.type == 'full' %}
                                    <p><small class="fw-light">
                                        {% for category in item.categories %}
                                            {{ category}}
                                            {% if forloop.last == false %}
                                                {{ ", "}}
                                            {% endif %}     
                                        {% endfor %}
                                    </small><br>
                                    {% if item.topics %}
                                        <small class="fw-light">
                                            {% for topic in item.topics %}
                                                {{"#"}}{{ topic}}
                                                {% if forloop.last == false %}
                                                    {{ ", "}}
                                                {% endif %}     
                                            {% endfor %}
                                        </small></p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}   
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>

            {% for chapter1 in chapter.children %}
                <h3 id="{{chapter1.title | slugify}}" >{{forloop.index}}.{{forloop.parentloop.index}}. {{chapter1.title}} </h3>
                {% assign index = chapter.chapter | append: "." | append: chapter1.chapter %}
                {% assign proms = promises | where: 'doc_id', doc.id | where: 'ref_parent_chapter', index | sort: 'ref_section' %}
                {% if chapter1.description %}
                    <div class="summary">
                        <p class="collapse" id="summary_{{chapter1.title | slugify }}" data-bs-parent="#doc_content">
                            {{ chapter1.description }}
                        </p>
                        <a class="read-more collapsed" data-bs-toggle="collapse" href="#summary_{{chapter1.title | slugify }}" role="button" aria-expanded="false" aria-controls="summary_{{chapter1.title | slugify }}"></a>
                    </div> 
                {% endif %}
                <ul >
                    {% for item in proms %}
                        {% assign item_analysis = site.data.promises_analysis | where: "promise_id", item.id %} 
                        {% if item_analysis[0].status %}
                            {% assign status = statuses_data | where: "name", item_analysis[0].status | first %}
                        {% else %}
                            {% assign status = site.data.categorization.default.statuses | first %}
                        {% endif %}
                        <li>
                            {% assign promises = site.data.statements | where: 'type', "promise" %}
                                {% for promise in promises %}
                                    {% if promise[1].id == item.id %}
                                        <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="Cumplimiento: {{ site.data.locales.ui-text[site.lang].[status.lang_label] | default: status.name }}"></i>
                                        <a class="link-{{status.color}}" href="/statements/{{ promise[0] }}">{{ item.title }}</a>  
                                        {% if include.type == 'mini' or include.type == 'schematic' or include.type == 'full' %}  
                                            <p><small class="fw-light">
                                                {% for category in item.categories %}
                                                    {{ category}}
                                                    {% if forloop.last == false %}
                                                        {{ ", "}}
                                                    {% endif %}     
                                                {% endfor %}
                                            </small><br>
                                            {% if item.topics %}
                                                <small class="fw-light">
                                                    {% for topic in item.topics %}
                                                        {{"#"}}{{ topic}}
                                                        {% if forloop.last == false %}
                                                            {{ ", "}}
                                                        {% endif %}     
                                                    {% endfor %}
                                                </small></p>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}   
                                {% endfor %}                    
                        </li>
                    {% endfor %}
                </ul>

                {% for chapter2 in chapter1.children %}
                    <h4 id="{{chapter2.title | slugify}}" >{{forloop.index}}.{{forloop.parentloop.index}}.{{forloop.parentloop.parentloop.index}}. {{chapter2.title}} </h4>
                    {% assign index = chapter.chapter | append: "." | append: chapter1.chapter | append: "." | append: chapter2.chapter %}
                    {% assign proms = promises | where: 'doc_id', doc.id | where: 'ref_parent_chapter', index | sort: 'ref_section' %}
                    {% if chapter2.description %}   
                            <div class="summary">
                                <p class="collapse" id="summary_{{chapter2.title | slugify }}" data-bs-parent="#doc_content">
                                    {{ chapter2.description }}
                                </p>
                                <a class="read-more collapsed" data-bs-toggle="collapse" href="#summary_{{chapter2.title | slugify }}" role="button" aria-expanded="false" aria-controls="summary_{{chapter2.title | slugify }}"></a>
                            </div> 
                    {% endif %}
                    <ul>
                        {% for item in proms %}
                            {% assign item_analysis = site.data.promises_analysis | where: "promise_id", item.id %} 
                            {% if item_analysis[0].status %}
                                {% assign status = statuses_data | where: "name", item_analysis[0].status | first %}
                            {% else %}
                                {% assign status = site.data.categorization.default.statuses | first %}
                            {% endif %}
                            <li>
                                {% assign promises = site.data.statements | where: 'type', "promise" %}
                                {% for promise in promises %}
                                    {% if promise[1].id == item.id %}
                                        <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="Cumplimiento: {{ site.data.locales.ui-text[site.lang].[status.lang_label] | default: status.name }}"></i>
                                        <a class="link-{{status.color}}" href="/statements/{{ promise[0] }}">{{ item.title }}</a>  
                                        {% if include.type == 'mini' or include.type == 'schematic' or include.type == 'full' %}
                                            <p><small class="fw-light">
                                                {% for category in item.categories %}
                                                    {{ category}}
                                                    {% if forloop.last == false %}
                                                        {{ ", "}}
                                                    {% endif %}     
                                                {% endfor %}
                                            </small><br>
                                            {% if item.topics %}
                                                <small class="fw-light">
                                                    {% for topic in item.topics %}
                                                        {{"#"}}{{ topic}}
                                                        {% if forloop.last == false %}
                                                            {{ ", "}}
                                                        {% endif %}     
                                                    {% endfor %}
                                                </small></p>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}   
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>

                    {% for chapter3 in chapter2.children %}
                        <h5 id="{{chapter3.title | slugify}}" >{{forloop.index}}.{{forloop.parentloop.index}}.{{forloop.parentloop.parentloop.index}}.{{forloop.parentloop.parentloop.parentloop.index}}. {{chapter3.title}} </h5>
                        {% assign index = chapter.chapter | append: "." | append: chapter1.chapter | append: "." | append: chapter2.chapter | append: "." | append: chapter3.chapter %}
                        {% assign proms = promises | where: 'doc_id', doc.id | where: 'ref_parent_chapter', index | sort: 'ref_section' %}
                        {% if chapter3.description %}
                            <div class="summary">
                                <p class="collapse" id="summary_{{chapter3.title | slugify }}" data-bs-parent="#doc_content">
                                    {{ chapter3.description }}
                                </p>
                                <a class="read-more collapsed" data-bs-toggle="collapse" href="#summary_{{chapter3.title | slugify }}" role="button" aria-expanded="false" aria-controls="summary_{{chapter3.title | slugify }}"></a>
                            </div> 
                        {% endif %}
                        <ul >
                            {% for item in proms %}
                                {% assign item_analysis = site.data.promises_analysis | where: "promise_id", item.id %} 
                                {% if item_analysis[0].status %}
                                    {% assign status = statuses_data | where: "name", item_analysis[0].status | first %}
                                {% else %}
                                    {% assign status = site.data.categorization.default.statuses | first %}
                                {% endif %}
                                <li>
                                    {% assign promises = site.data.statements | where: 'type', "promise" %}
                                    {% for promise in promises %}
                                        {% if promise[1].id == item.id %}
                                            <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="Cumplimiento: {{ site.data.locales.ui-text[site.lang].[status.lang_label] | default: status.name }}"></i>
                                            <a class="link-{{status.color}}" href="/statements/{{ promise[0] }}">{{ item.title }}</a>  
                                            {% if include.type == 'mini' or include.type == 'schematic' or include.type == 'full' %}
                                                <p><small class="fw-light">
                                                    {% for category in item.categories %}
                                                        {{ category}}
                                                        {% if forloop.last == false %}
                                                            {{ ", "}}
                                                        {% endif %}     
                                                    {% endfor %}
                                                </small><br>
                                                {% if item.topics %}
                                                    <small class="fw-light">
                                                        {% for topic in item.topics %}
                                                            {{"#"}}{{ topic}}
                                                            {% if forloop.last == false %}
                                                                {{ ", "}}
                                                            {% endif %}     
                                                        {% endfor %}
                                                    </small></p>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}   
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>

                        {% for chapter4 in chapter3.children %}
                            <h6 id="{{chapter4.title | slugify}}">{{forloop.index}}.{{forloop.parentloop.index}}.{{forloop.parentloop.parentloop.index}}.{{forloop.parentloop.parentloop.parentloop.index}}.{{forloop.parentloop.parentloop.parentloop.parentloop.index}}.  {{chapter4.title}} </h6>
                            {% assign index = chapter.chapter | append: "." | append: chapter1.chapter | append: "." | append: chapter2.chapter | append: "." | append: chapter3.chapter | append: "." | append: chapter4.chapter %}
                            {% assign proms = promises | where: 'doc_id', doc.id | where: 'ref_parent_chapter', index | sort: 'ref_section' %}
                            {% if chapter4.description %}
                                <div class="summary">
                                    <p class="collapse" id="summary_{{chapter4.title | slugify }}" data-bs-parent="#doc_content">
                                        {{ chapter4.description }}
                                    </p>
                                    <a class="read-more collapsed" data-bs-toggle="collapse" href="#summary_{{chapter4.title | slugify }}" role="button" aria-expanded="false" aria-controls="summary_{{chapter4.title | slugify }}"></a>
                                </div> 
                            {% endif %}
                            <ul >
                            {% for item in proms %}
                                {% assign item_analysis = site.data.promises_analysis | where: "promise_id", item.id %} 
                                {% if item_analysis[0].status %}
                                    {% assign status = statuses_data | where: "name", item_analysis[0].status | first %}
                                {% else %}
                                    {% assign status = site.data.categorization.default.statuses | first %}
                                {% endif %}
                                <li>
                                    {% assign promises = site.data.statements | where: 'type', "promise" %}
                                    {% for promise in promises %}
                                        {% if promise[1].id == item.id %}
                                            <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="Cumplimiento: {{ site.data.locales.ui-text[site.lang].[status.lang_label] | default: status.name }}"></i>
                                            <a class="link-{{status.color}}" href="/statements/{{ promise[0] }}">{{ item.title }}</a>  
                                            {% if include.type == 'mini' or include.type == 'schematic' or include.type == 'full' %}
                                                <p><small class="fw-light">
                                                    {% for category in item.categories %}
                                                        {{ category}}
                                                        {% if forloop.last == false %}
                                                            {{ ", "}}
                                                        {% endif %}     
                                                    {% endfor %}
                                                </small><br>
                                                {% if item.topics %}
                                                    <small class="fw-light">
                                                        {% for topic in item.topics %}
                                                            {{"#"}}{{ topic}}
                                                            {% if forloop.last == false %}
                                                                {{ ", "}}
                                                            {% endif %}     
                                                        {% endfor %}
                                                    </small></p>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}   
                                    {% endfor %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</main>