<div class="wrapper">
    <div class="footer-col-wrapper">
        <div class="footer-col">
            <p class="feed-subscribe">
              <a href="/feed.xml">
                <svg class="svg-icon orange">
                  <use xlink:href="/assets/theme/minima-social-icons.svg#rss"></use>
                </svg><span>Subscribe</span>
              </a>
            </p>
            <ul class="contact-list">
              <li class="p-name">GitHub User</li>
              <li><a class="u-email" href="mailto:your-email@domain.com">your-email@domain.com</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <p class="text-muted"><a href="https://raw.githubusercontent.com/seguimiento-politico/seguimiento-politico.github.io/master/_data/data.yaml" target="_blank" rel="nofollow">Open Data</a></p>
        </div>
    </div>

    <div class="social-links">
        <ul class="social-media-list">
            <li>
                <a rel="me" href="https://github.com/seguimiento-politico/seguimiento-politico.github.io" target="_blank" title="github">
                    <svg class="svg-icon grey">
                        <use xlink:href="/assets/theme/minima-social-icons.svg#github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a rel="me" href="https://twitter.com/seguimiento-politico" target="_blank" title="twitter">
                    <svg class="svg-icon grey">
                        <use xlink:href="/assets/theme/minima-social-icons.svg#twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>
