<footer class="blog-footer">
  <div class="container">
    <div class="btn-toolbar" role="toolbar">
      <!-- {%- include social.html -%} -->
      <div class="btn-group">
        <a class="btn btn-secondary btn-lg" role="button"rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" target="_blank" title="{{ social.github | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>
        <a class="btn btn-secondary btn-lg" role="button" rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" target="_blank" title="{{ social.twitter | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>
        <a class="btn btn-secondary btn-lg" rel="me" href="https://t.me/{{ social.telegram | cgi_escape | escape }}" target="_blank" title="{{ social.telegram | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"></use></svg></a>
      </div>
    </div>
  </div>
</footer>
