<footer class="blog-footer">
  <div class="container">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/theme/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    {%- assign social = site.minima.social_links -%}
    <div class="social-links btn-toolbar" role="toolbar">
      <!-- {%- include social.html -%} -->
      <div class="btn-group">
        {{ social }}
        {% for link in social %}
        {{ link }}
        <a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" target="_blank" title="{{ social.github | escape }}" class="btn btn-secondary btn-lg" role="button" aria-pressed="true"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>
        {% endfor %}
      </div>
    </div>

  </div>

</footer>

<!-- <div class="col-md-3">
            <p class="text-muted"><a href="https://raw.githubusercontent.com/seguimiento-politico/seguimiento-politico.github.io/master/_data/data.yaml" target="_blank" rel="nofollow">Open Data</a></p>
        </div> -->
