<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="description" content="Seguimeinto del cumplimiento de los programas electorales de la coalición de gobierno." />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Seguimiento político: XIV Legislatura (2019-actualidad)</title>
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Seguimiento Político">
<meta itemprop="datePublished" content="2022-02-19T00:51:00-05:00">
<meta itemprop="description" content="Seguimiento de la actividad legislativa del gobierno de coalición PSOE-UnidasPodemos para verificar el grado de cumplimiento de sus programas electorales.">
<meta itemprop="headline" content="Seguimeinto Político - La mejor manera de seguir la pista a las promesas de los políticos." />
<meta itemprop="image" content="assets/trump-main.jpg">
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:creator" content="">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image" content="">

<!-- Open Graph data -->
<!--<meta property="og:title" content="Trump Tracker" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://trumptracker.github.io/" />
<meta property="og:image" content="https://trumptracker.github.io/assets/trump-main.jpg" />
<meta property="og:description" content="Track Donald J Trump&#x27;'s Electoral Promises with Trump Tracker." />
<meta property="og:site_name" content="Trump Tracker" />
<meta property="article:published_time" content="2016-11-10T00:51:00-05:00" />
<meta property="article:modified_time" content="2016-11-10T00:52:47-05:00" />
<meta property="article:section" content="Politics" />
<meta property="article:tag" content="Politics" />
<meta property="fb:admins" content="785013260" />
<link rel="shortcut icon"                       href="/assets/favicon.ico" type="image/x-icon" />
<meta name="apple-mobile-web-app-title"         content="Trump Tracker">
<meta name="application-name"                   content="Trump Tracker">
<meta name="theme-color"                        content="#ffffff"> -->
<!-- CSS libraries -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- CSS custom -->
<link rel="stylesheet" href={{ "/assets/css/styles.css" | relative_url }}>