<div class="row">
    <div class="col-md-3 mb-2">
        <ul class="list-group small">
            <!-- <li class="list-group-item list-group-item inauguration-time-container">
                <i class="fas fa-fw fa-home fa-fw"></i>
                <b id="inauguration-time">Days Till Inauguration: <span id="inauguration-days"><i class='loading'>Loading...</i></span></b>
            </li> -->
            <input type="text" class="d-none" name="inauguration" id="inauguration" value="{{ track_data.context.from }}">
            <li class="list-group-item bg-dark text-light">
                {{ site.data.ui-text[site.locale].select_to_label | default: "Select to" }}
                <b>{{ site.data.ui-text[site.locale].filter_by_label | default: "filter by" | downcase }}
                {{ site.data.ui-text[site.locale].status_label | default: "status" | downcase }} </b>
            </li>

            {% for status in statuses_data %}
                <li class="list-group-item list-group-item-{{ status.color }} list-group-item-action d-flex justify-content-between align-items-start" data-list-facet="list-status" data-facet-value="{{ status.name }}" >
                    <span>{{ site.data.ui-text[site.locale].[status.lang_label] }}
                    <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="{{ site.data.ui-text[site.locale].[status.lang_label] | default: status.name }}"></i></span>
                    <span class="badge bg-dark rounded-pill">{{ status_counters[forloop.index0] }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-9"> 
        <ul class="list-group small">
            <li class="list-group-item bg-dark text-light">
                {{ site.data.ui-text[site.locale].select_to_label | default: "Select to" }}
                <b>{{ site.data.ui-text[site.locale].filter_by_label | default: "filter by" | downcase}} 
                {{ site.data.ui-text[site.locale].category_label | default: "category" | downcase}} </b>
            </li>
        </ul>
        {% assign counter = 0 %}
        {% for category in categories_data %}
            {% if category_counters[forloop.index0] > 0 %}
                {% assign counter = counter | plus: 1%}
                {% assign mod = counter | modulo: 3 %}
                {% if mod == 1  %}
                    <ul class="list-group list-group-horizontal-sm small">
                {% endif %}
            
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" data-list-facet="list-category" data-facet-value="{{ category.name }}" data-select-single="true">
                    <span> {{ category.name }} 
                    <i class="text-muted fas fa-fw fa-{{ category.icon }} " title="{{ category.name }}"></i></span>
                    <span class="badge bg-dark rounded-pill">{{ category_counters[forloop.index0] }}</span>
                </li>
                {% if mod == 0  %}
                    </ul>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if mod == 1  %}
            </ul>
        {% endif %}
        </ul>
    </div>
</div>