{% include scope_path.html %}
{% assign image_files = site.static_files | where: "image", true %}

{% if include.type == 'politician' %}
    {% assign text = politician_name | slugify %}
    {% include normalize_text.html %}

    {% assign person_path = site.images_path | append: 'politicians/' | append: scope | append: '/' | append: text | append: '.jpg' %} 
    {% assign person_data = track_data.politicians | where: 'NOMBRE', politician_name %}

    {% assign text = person_data[0].FORMACIONELECTORAL | slugify %}
    {% include normalize_text.html %}

    {% assign organization_path = site.images_path | append: 'parties/' | append: scope_path | append: '/' | append: text | append: '.gif'  %}
    {% assign organization_data = site.data.parties | where: 'name', person_data[0].FORMACIONELECTORAL %}

    <!-- Check if corresponding images exist in images folder -->
    {% assign organization_image = false %}
    {% assign person_image = false %}

    {% for image in image_files %}
        {% if image.path == person_path %}
            {% assign person_image = true %}
        {% endif %}

        {% if image.path == organization_path %}
            {% assign organization_image = true %}
        {% endif %}

        {% if person_image and organization_image %}
            {% break %}
        {% endif %}
    {% endfor %}


{% elsif include.type == 'party' %}
    {% assign text = party_name | slugify %}
    {% include normalize_text.html %}
           
    {% assign organization_path = site.images_path | append: 'parties/' | append: scope_path | append: text | append: '.gif'  %}
    {% assign organization_data = site.data.parties | where: 'name', party_name %}

    <!-- Check if corresponding images exist in images folder -->
    {% assign organization_image = false %}
    {% for image in image_files %}
        {% if image.path == organization_path %}
            {% assign organization_image = true %}
            {% break %}    
        {% endif %}
    {% endfor %}

{% endif %}