{% include back_to_top.html %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="colabora">Colabora</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sobre-nosotros">Conócenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="FAQ">FAQ</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> 
        </li>
      </ul> -->
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>

<!-- Dont show secondary nay in Tracks and Promises pages -->
{% if page.track_name == nil %}
<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav nav-underline" aria-label="Secondary navigation">
    <a class="nav-link" href="stats/#colaborators">
        {{ site.data.ui-text[site.locale].collaborators_label | default: "Collaborators" }}
        {% assign collaborators = site.data.collaborators | size %}
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{ collaborators }}</span>
    </a>
    <a class="nav-link" href="stats/#tracks">
        {{ site.data.ui-text[site.locale].tracks_label | default: "Tracks" }}
        {% assign tracks = site.data.trackers | where_exp:"item", "item.draft != true" | size %}
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{ tracks }}</span>
    </a>
        <a class="nav-link" href="stats/#promises">
        {{ site.data.ui-text[site.locale].promises_label | default: "Promises" }}
        {{ site.data.ui-text[site.locale].registered_label | default: "registered" }}

        {% assign total_promises = 0 %}
        {% for track in site.data.trackers %}
          {% assign track_promises = track[1].promises | size %}
          {% assign total_promises = total_promises | plus: track_promises %}
        {% endfor %}
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{ total_promises }}</span>
    </a>
    <!-- <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a> -->
  </nav>
</div>
{% endif %}


        