{% assign text = text | replace: "á", "a" | replace: "é", "e"  | replace: "í", "i"  %}
{% assign text = text| replace: "ó", "o"  | replace: "ú", "u" %}

{% assign text = text | replace: "à", "a" | replace: "è, "e"  | replace: "ì", "i" %} 
{% assign text = text| replace: "ò", "o"  | replace: "ù", "u" %}

{% assign text = text | replace: "ä", "a" | replace: "ë", "e"  | replace: "ï", "i" %} 
{% assign text = text| replace: "ö", "o"  | replace: "ü", "u" %}

{% assign text = text | replace: "â", "a" | replace: "ê, "e"  | replace: "î", "i"  %}
{% assign text = text| replace: "ô", "o"  | replace: "û", "u" %}