{% include categorization.html %}
{% assign party_data = site.data.agents.[track_data.settings.config.country].parties | where: "name", item.party | first %}
{% assign status = statuses_data | where:'name', item.status | first %}

{% include scope_settings.html %}

<!-- Party logo path -->
{% include items_logo.html type=parties %}

<div class="callout callout-{{ status.color }} my-3 p-3 bg-body shadow-sm border-{{ status.color }}">
    <div class="border-bottom pb-2 mb-3 d-flex justify-content-between align-items-start">
        <span class="align-self-center">
            {% for party in item.parties %}
                {% assign party_name = party %}    
                {% include logos_settings.html type='party' %}        
                {% include logos_show.html type='party' %}
            {% endfor %}              
            <b>{{ item.title }}</b>
        </span>
        <div class="btn-group">
            <a class="btn btn-sm btn-primary" href="{{page.url}}/edit-item">
                <i class="fas fa-fw fa-pen"></i> Editar promesa
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="{{ site.raw-repository-source }}{{ site.repository}}/master/_data/tracks{{page.subfolder}}/{{page.track_name}}/{{page.item_name}}.yaml" role="button">{{ site.data.ui-text[site.locale].open_label | default: "open data" | downcase }}</a>
        </div>
    </div>

    {% if item.description %}
        <p>"{{ item.description }}"</p>
    {% endif %}
    <p>
        El estado de este compromiso es 
        <span class="text-{{ status.color }} bold"> 
                <b>{{ site.data.ui-text[site.locale].[status.lang_label] }}</b> 
                <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="{{ site.data.ui-text[site.locale].[status.lang_label] | default: status.name }}"></i> 
        </span> 
        debido a que {{ item.status_info }}
    </p>
    <div class="row">
        <div class="col-12 col-sm-6 text-muted small">
            {% for category in item.categories %}
                <p class="mb-0"> {{ category }}</p>
            {% endfor %}
        </div>
        <div class="col-12 col-sm-6 text-end text-muted small">
            <b>UID:</b> {{ item._id }}
            {% if item.lastmod %}
                {% assign date = item.lastmod %}
            {% else %}
                {% assign date = item.created %}
            {% endif %}
            <p class=""> 
                <b>{{ site.data.ui-text[site.locale].last_review | default: "Last review" }}:</b>
                {% include dates_to_text.html %}
            </p>
        </div>
    </div>
</div>


{% if item.related %}
<div class="notice-info border border-primary mb-3">
    <span class="m-2"><b>Compromisos relacionados:</b></span>
    <span>
        {% for uid in item.related %}
            {% assign related = site.data.tracks %}
            {{ site.members | find: "graduation_year", "2014" }}
            <a class="btn btn-sm btn-outline-dark" href="{{ related[0].url }}" role="button">{{ related[0].item_name | replace: "-", " " | replace: "_", " - "}}</a>
        {% endfor %}
    </span>
</div>
{% endif %}

{% if item.congreso.votes %}
<strong>Votaciones</strong>
<div class="accordion mb-3" id="votes">
    {% for vote in item.congreso.votes %}
        {% assign votes_data = track_data.votes.[vote] %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="votes-heading-{{vote}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#votes-collapse-{{vote}}" aria-controls="collapse-{{forloop.index}}">
                    {{ votes_data.informacion.textoExpediente }}
                    {% assign mayoria_simple = votes_data.totales.afavor | minus: votes_data.totales.enContra %}
                    {% if mayoria_simple > 0 %}
                        <span class="badge bg-success mr-2">A favor</span>
                    {% else %}
                        <span class="badge bg-danger">En contra</span>
                    {% endif %}
                </button>
            </h2>
            <div id="votes-collapse-{{vote}}" class="accordion-collapse collapse" aria-labelledby="votes-heading-{{vote}}" data-bs-parent="#votes">
                <div class="accordion-body">
                    <h6><b>Información</b></h6>
                    <hr>
                    <div class="container">
                        <p>
                            <b>Fecha de votación: </b>
                            {% assign date = votes_data.informacion.fecha %}
                            {% include dates_to_text.html %}
                            <b>Sesión: </b>{{ votes_data.informacion.sesion }} 
                            <b>Votación nº: </b>{{ votes_data.informacion.numeroVotacion }}
                        </p>
                        <p>
                            <b>Resultado: </b>
                            {% assign mayoria_simple = votes_data.totales.afavor | minus: votes_data.totales.enContra %}
                            {% if mayoria_simple > 0 %}
                                <span class="badge bg-success">A favor</span>
                            {% else %}
                                <span class="badge bg-danger">En contra</span>
                            {% endif %}
                            <ul class="row col-12">
                                <li>
                                    <b>votos a favor: </b><span class="text-success"> {{ votes_data.totales.afavor }}</span>
                                </li>
                                <li>
                                    <b>votos en contra: </b><span class="text-danger"> {{ votes_data.totales.enContra }} </span>
                                </li>
                                <li>
                                    <b>Abstenciones: </b><span class="text-primary">{{ votes_data.totales.abstenciones }} </span>
                                </li>
                                <li>
                                    {% assign total = votes_data.totales.afavor | plus: votes_data.totales.enContra | plus: votes_data.totales.abstenciones %}
                                    <b>Total votos: </b> {{ total }}
                                </li>
                            </ul>
                        </p>
                    </div>
                    <h6><b>Votos por partido</b></h6>
                    <hr>
                    {% include voting_counters.html %}
                    <ul class="row col-12">
                        {% for party in parties %}
                            {% assign no_counter = 0 %}
                            {% assign yes_counter = 0 %}
                            {% assign abstention_counter = 0 %}

                            {% for vote in votes %}
                                {% assign name = vote | replace: "_No", "" | replace: "_Sí", ""  | replace: "_Abstención", "" %}
                                {% if name == party %}
                                    {% if vote contains "_No" %}
                                        {% assign no_counter = no_counter | plus: 1 %}
                                    {% elsif vote contains "_Sí" %}
                                        {% assign yes_counter = yes_counter | plus: 1 %}
                                     {% else %}
                                        {% assign abstention_counter = abstention_counter | plus: 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <li class="col-12 col-md-6 col-lg-4 col-xxl-3 list-group-item position-relative">
                                {% assign party_name = party %}
                                {% include logos_settings.html type='party' %} 
                                {% include logos_show.html type='party' %}
                                <ul class="row col-12">
                                    <li>
                                        <b>votos a favor: </b><span class="text-success"> {{ yes_counter }}</span>
                                    </li>
                                    <li>
                                        <b>votos en contra: </b><span class="text-danger"> {{ no_counter }} </span>
                                    </li>
                                    <li>
                                        <b>Abstenciones: </b><span class="text-primary">{{ abstention_counter }} </span>
                                    </li>
                                    <li>
                                        {% assign total = yes_counter | plus: no_counter | plus: abstention_counter %}
                                        <b>Total votos: </b> {{ total }}
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="container">
                    <h6><b>Votos por diputado</b></h6>
                    <hr>
                            <ul class="row col-12">
                                {% for vote in votes_data.votaciones %}
                                        {% assign politician_name = vote.diputado %}                                        
                                        {% include logos_settings.html type='politician' %}

                                        {% if vote.voto == "Sí" %}
                                            <li class="col-12 col-lg-6 col-xl-4 col-xxl-3 list-group-item position-relative">
                                                {{ forloop.index}} 
                                                {% include logos_show.html type='politician' %}
                                                {{ politician_name }}
                                                <span class="badge bg-success position-absolute top-50 end-0 translate-middle">Si</span>
                                            </li>
                                        {% elsif vote.voto == "No"%}
                                            <li class="col-12 col-lg-6 col-xl-4 col-xxl-3 list-group-item position-relative">
                                                {{ forloop.index}} 
                                                {% include logos_show.html type='politician' %}
                                                {{ politician_name }}
                                                <span class="badge bg-danger position-absolute top-50 end-0 translate-middle">No</span>
                                            </li>
                                        {% else %}
                                            <li class="col-12 col-lg-6 col-xl-4 col-xxl-3 list-group-item position-relative">
                                                {{ forloop.index}} 
                                                {% include logos_show.html type='politician' %}
                                                {{ politician_name }}
                                                <span class="badge bg-primary position-absolute top-50 end-0 translate-middle">Abstención</span>
                                            </li>
                                        {% endif %}
                                {% endfor %}
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}

{% if item.congreso.intervenciones %}
<div class="mb-3">
<strong>Intervenciones de los/as diputados/as: </strong> 
<a href="{{ item.congreso.intervenciones }}">Ver intervenciones (web del congreso)</a><br>
</div>
{% endif %}

{% if item.promise_analysis %}
<strong>Análisis sobre la promesa</strong>
<div class="accordion mb-3" id="promiseAnalysis">
    {% for part in item.promise_analysis %}
        {% assign statement_source = item.sources | where:'ref', part.statement.source_ref %}
        <div class="accordion-item">
        <h2 class="accordion-header" id="promiseAnalysis-heading-{{forloop.index}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#promiseAnalysis-collapse-{{forloop.index}}" aria-controls="collapse-{{forloop.index}}">
                {{forloop.index}}. {{ part.statement.quote }}
            </button>
        </h2>
        <div id="promiseAnalysis-collapse-{{forloop.index}}" class="accordion-collapse collapse" aria-labelledby="heading-{{forloop.index}}" data-bs-parent="#promiseAnalysis">
            <div class="accordion-body">
                <h6><b>Fuente</b></h6>
                <hr>
                <blockquote class="mb-3">
                    {{ part.statement.quote }}
                    <sup><a class="source_sup small" href="#references" title="{{ statement_source[0].title }}">{{ statement_source[0].ref }}</a></sup>
                    <footer class="blockquote-footer text-end mt-2">{{ part.statement.author }} en <cite>{{ statement_source[0].title }}</cite></footer>
                </blockquote>
                <h6><b>{{ site.data.ui-text[site.locale].promise_characteristics }}</b></h6>
                <hr>
                {% for feature in part.statement_quality %}
                    <p class="card-text ms-3">
                        {% assign promise_characteristic = feature[0] %}
                        <span><b>{{ site.data.ui-text[site.locale].[promise_characteristic] }}</b></span>
                    {% for reason in feature[1].reasons %}
                        {% if reason.compliance == 'yes' %} 
                            {% assign icon = 'check' %}
                            {% assign color = 'success' %}
                        {% elsif reason.compliance == 'no' %} 
                            {% assign icon = 'times' %}
                            {% assign color = 'danger' %}
                        {% elsif reason.compliance == 'partly' %}    
                            {% assign icon = 'minus' %}
                            {% assign color = 'warning' %}
                        {% else %}
                            {% assign icon = 'question' %}
                            {% assign color = 'info' %}
                        {% endif %}
                        <p class="card-text ms-3 ps-4">
                            <i class="fas fa-fw fa-{{ icon }} text-{{ color }}"></i><span class="text-{{ color }}"></span> {{ reason.reason }}
                        </p>
                        {% endfor %}
                    </p>
                {% endfor %}
                
                <br>
                <h6><b>Grado de cumplimiento</b></h6>
                <hr>
                {% for fact in part.facts %}
                    {% if fact.outcome == 'yes' %} 
                        {% assign icon = 'check' %}
                        {% assign color = 'success' %}
                        {% assign outcome = site.data.ui-text[site.locale].statement_complieance_yes %}
                    {% elsif fact.outcome == 'no' %} 
                        {% assign icon = 'times' %}
                        {% assign color = 'danger' %}
                        {% assign outcome = site.data.ui-text[site.locale].statement_complieance_no %}
                    {% elsif fact.outcome == 'maybe' %}    
                        {% assign icon = 'minus' %}
                        {% assign color = 'warning' %}
                        {% assign outcome = site.data.ui-text[site.locale].statement_complieance_maybe %}
                    {% else %}
                        {% assign icon = 'question' %}
                        {% assign color = 'info' %}
                        {% assign outcome = site.data.ui-text[site.locale].statement_complieance_not_known %}
                    {% endif %}
                    <p class="card-text ms-3">
                        <i class="fas fa-fw fa-{{ icon }} text-{{ color }}"></i><span class="text-{{ color }}"><b>{{ outcome }}</b></span>: {{ fact.reasoning }}
                    </p>
                    {% for fact_source in fact.sources %}
                        {% assign source = item.sources | where:'ref', fact_source %}
                        <sup><a class="source_sup" href="#references" title="{{source[0].title}}">{{ source[0].ref }}</a></sup> 
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        </div>
    {% endfor %}
  </div>
{% endif %}

{% if item.process_analysis %}
<strong>Análisis sobre el proceso</strong>
<div class="accordion mb-3" id="processAnalysis">
</div>
{% endif %}

{% if item.result_analysis %}
<strong>Análisis sobre el resultado</strong>
<div class="accordion mb-3" id="resultAnalysis">
</div>
{% endif %}

{% if item.sources %}
<div class="card mb-3">
    <div class="card-header" id="references">
        Fuentes y referencias
    </div>
    <div class="card-body">
        <h6 class="card-title">Encuentra aquí todas las fuentes informativas que se han empleado para registrar este compromiso/promesa y determinar el grado de cumplimiento actual.</h6>
        {% for source in item.sources %}
        <p class="card-text small mb-0">
            {% if source.type == "local_doc" %}
                <a class="source_sup" href="{{ site.url }}{{ docs_path }}{{ source.url }}">{{ source.ref }}. {{ source.title }}</a>
            {% else %}
                <a class="source_sup" href="{{ source.url }}">{{ source.ref }}. {{ source.title }}</a>
            {% endif %}
        </p>
        {% endfor %}
    </div>
</div>
<div class="d-flex flex-row mb-3">
    <a class='btn facebook' href="https://www.facebook.com/sharer.php?u={{site.url}}/tracks/{{ page.track_name }}/{{ page.item_name}}&title='{{ item.title }} {{ item.party }}'"> <i class="fab fa-facebook fa-fw" aria-hidden="true"></i> Compartir</a>
    <a class="btn twitter" href="https://twitter.com/share?url={{site.url}}/tracks/{{ page.track_name }}/{{ page.item_name}}&text={{ item.status_info }}&hashtags=Seguimiento-politico"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i> Tweet</a>
</div>
{% endif %}

