{% include categorization.html %}
{% assign party_data = site.data.agents.organizations.[track_data.config.country].parties | where: "name", item.party | first %}

{% assign status = statuses | where:'name', item.status | first %}

<!-- Party logo path -->
{% include items_logo.html type=party %}

<div class="callout callout-{{ status.color }} my-3 p-3 bg-body shadow-sm border-{{ status.color }}">
    <h6 class="border-bottom pb-2 d-flex justify-content-between align-items-start">
        <span class="align-self-center">
            {% if exists %}
                <img src="{{ logos_path }}" alt="{{ item.party }}" width="35" height="35">
            {% else %}
                <span style="color:{{ party_data.color }};">{{ item.party }}</span>
            {% endif %}              
            <b>{{ item.title }}</b>
            <small class="text-muted"> {{ item.category }}</small>
        </span>
        <div class="btn-group">
            <a class="btn btn-sm btn-primary" href="{{page.url}}/edit-item">
                <i class="fas fa-fw fa-pen"></i> Editar promesa
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="{{ site.raw-repository-source }}{{ site.repository}}/master/_data/track_items/{{page.track_name}}/{{page.item_name}}.yaml" role="button">{{ site.data.ui-text[site.locale].open_label | default: "open data" | downcase }}</a>
        </div>
        
    </h6>
    {% if item.description %}
    <p class="lead">{{ item.description }}</p>
    <br>
    {% endif %}
    <p>El estado de este compromiso es <span class="text-{{ status.color }} bold"> <b>{{ site.data.ui-text[site.locale].[status.lang_label] }}</b> <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="{{ site.data.ui-text[site.locale].[status.lang_label] | default: status.name }}"></i> </span> debido a que: <br> {{ item.status_info }}</p>
    <p class="text-end text-muted small mb-0" id="UID">
        <b>UID:</b> {{ page.track_name }}_{{ page.item_name }}
    </p>
    <p class="text-end text-muted small mb-0"> 
        {{ site.data.ui-text[site.locale].last_review | default: "Last review" }}:
        {{ item.last_modified | date: "%-d" }}
        {% assign m = item.last_modified | date: "%-m" | minus: 1 %}
        {{ site.data.ui-text[site.locale].months[m] }}
        {{ item.last_modified | date: "%Y" }}
    </p>
</div>

<div class="card my-3">
    <div class="card-header">Análisis</div>
    <div class="card-body">
        {% for part in item.analysis %}
            {% assign statement_source = item.sources | where:'ref', part.statement.source_ref %}
            <blockquote class="blockquote mb-2">
                {{forloop.index}}. {{ part.statement.quote }}
                <sup><a class="source_sup small" href="#references" title="{{ statement_source[0].title }}">{{ statement_source[0].ref }}</a></sup>
                <footer class="blockquote-footer text-end">{{ part.statement.author }} en <cite>{{ statement_source[0].title }}</cite></footer>
            </blockquote>
            <h6><b>{{ site.data.ui-text[site.locale].promise_characteristics }}</b></h6>
            <hr>
            {% for feature in part.statement_quality %}
                <p class="card-text ms-3">
                    {% assign promise_characteristic = feature[0] %}
                    <span><b>{{ site.data.ui-text[site.locale].[promise_characteristic] }}</b></span>
                {% for reason in feature[1].reasons %}
                    {% if reason.compliance == 'yes' %} 
                        {% assign icon = 'check' %}
                        {% assign color = 'success' %}
                    {% elsif reason.compliance == 'no' %} 
                        {% assign icon = 'times' %}
                        {% assign color = 'danger' %}
                    {% elsif reason.compliance == 'partly' %}    
                        {% assign icon = 'minus' %}
                        {% assign color = 'warning' %}
                    {% else %}
                        {% assign icon = 'question' %}
                        {% assign color = 'info' %}
                    {% endif %}
                    <p class="card-text ms-3 ps-4">
                        <i class="fas fa-fw fa-{{ icon }} text-{{ color }}"></i><span class="text-{{ color }}"></span> {{ reason.reason }}
                    </p>
                    {% endfor %}
                </p>
            {% endfor %}
            
            <br>
            <h6><b>Grado de cumplimiento</b></h6>
            <hr>
            {% for fact in part.facts %}
                {% if fact.outcome == 'yes' %} 
                    {% assign icon = 'check' %}
                    {% assign color = 'success' %}
                    {% assign outcome = site.data.ui-text[site.locale].statement_complieance_yes %}
                {% elsif fact.outcome == 'no' %} 
                    {% assign icon = 'times' %}
                    {% assign color = 'danger' %}
                    {% assign outcome = site.data.ui-text[site.locale].statement_complieance_no %}
                {% elsif fact.outcome == 'maybe' %}    
                    {% assign icon = 'minus' %}
                    {% assign color = 'warning' %}
                    {% assign outcome = site.data.ui-text[site.locale].statement_complieance_maybe %}
                {% else %}
                    {% assign icon = 'question' %}
                    {% assign color = 'info' %}
                    {% assign outcome = site.data.ui-text[site.locale].statement_complieance_not_known %}
                {% endif %}
                <p class="card-text ms-3">
                    <i class="fas fa-fw fa-{{ icon }} text-{{ color }}"></i><span class="text-{{ color }}"><b>{{ outcome }}</b></span>: {{ fact.reasoning }}
                </p>
                {% for fact_source in fact.sources %}
                    {% assign source = item.sources | where:'ref', fact_source %}
                    <sup><a class="source_sup" href="#references" title="{{source[0].title}}">{{ source[0].ref }}</a></sup> 
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<div class="card my-3">
    <div class="card-header" id="references">
        Fuentes y referencias
    </div>
    <div class="card-body">
        <h6 class="card-title">Encuentra aquí todas las fuentes informativas que se han empleado para registrar este compromiso/promesa y determinar el grado de cumplimiento actual.</h6>
        {% for source in item.sources %}
        <p class="card-text small mb-0">
            {% if source.type == "local_doc" %}
                <a class="source_sup" target="_blank" href="{{ site.url }}{{ docs_path }}{{ source.url }}">{{ source.ref }}. {{ source.title }}</a>
            {% else %}
                <a class="source_sup" target="_blank" href="{{ source.url }}">{{ source.ref }}. {{ source.title }}</a>
            {% endif %}
        </p>
        {% endfor %}
    </div>
</div>
<div class="d-flex flex-row">
    <a class='btn facebook' target="_blank" href="https://www.facebook.com/sharer.php?u={{site.url}}/tracks/{{ page.track_name }}/{{ page.item_name}}&title='{{ item.title }} {{ item.party }}'"> <i class="fab fa-facebook fa-fw" aria-hidden="true"></i> Compartir</a>
    <a class="btn twitter" href="https://twitter.com/share?url={{site.url}}/tracks/{{ page.track_name }}/{{ page.item_name}}&text={{ item.status_info }}&hashtags=Seguimiento-politico" target="_blank"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i> Tweet</a>
</div>