{% include categorization.html %}

{% assign parties = site.data.parties | where: "name", item[0].party | first %}
{% if item[0].politicians %}
    {% assign politicians = site.data.politicians %}
{% endif %}


{% assign item_analysis = site.data.promises_analysis | where: "promise_id", item[0].id %}
{% assign status = statuses_data | where:'name', item_analysis[0].status | first %}

{% assign scope_data = item[0] %}

<div class="callout callout-{{ status.color }} p-0 m-0 mb-3 bg-body shadow-sm border-{{ status.color }}">
    <div class="border-bottom p-2 m-2 d-flex justify-content-between align-items-start">
        <span class="align-self-center">
            {% for party in item[0].parties %}
                {% assign party_name = party %}    
                {% include logos_settings.html type='party' %}        
                {% include logos_show.html type='party' %}
            {% endfor %}  
            <b>{{ item[0].title }}</b>
        </span>
        <div class="btn-group">
            <a class="btn btn-sm btn-primary" href="{{page.url}}/edit-item">
                <i class="fas fa-fw fa-pen"></i> Editar promesa
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="{{ site.raw-repository-source }}/_data{{page.url}}.yaml" role="button">
                <i class="fas fa-fw fa-lock-open fa-fw"></i>
                {{ site.data.ui-text[site.locale].open_label | default: "open data" | downcase }}
            </a>
        </div>
    </div>

    <div class="px-2 m-2">
        <p><b>El compromiso:</b></p>
        {% if item[0].description %}
            <p class="ms-3">{{ item[0].description | markdownify}}</p>
        {% endif %}
        {% if item[0].statements %}
            {% assign cont = 0 %}
            {% assign partial = false %}
            <ul>
            {% for statement in item[0].statements %}
                {% assign cont = cont | plus: 1 %}
                {% if partial == false %}
                    <li>
                {% endif %}
                {% if statement.partial == "ini" %}
                    {% assign partial = true %}
                {% endif %} 
                <b>{{"("}} {{cont}} {{") " }}</b> {{ statement.quote}} 
                {% if statement.partial == "end" %}
                    {% assign partial = false %}
                {% endif %} 
                {% if partial == false %}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
        {% if item_analysis[0].status %}
        <p><b>Estado y grado de cumplimiento:</b></p>
        <p class="ms-3">
            <span class="text-{{ status.color }} bold"> 
                    <b>{{ site.data.ui-text[site.locale].[status.lang_label] }}</b> 
                    <i class="fas fa-fw fa-{{ status.icon }} text-{{ status.color }}" title="{{ site.data.ui-text[site.locale].[status.lang_label] | default: status.name }}"></i> 
            </span> 
            debido a que {{ item_analysis[0].status_info }}
        </p>
        
        <p class="ms-3">
            Más concretamente porque:
        </p>
            {% for fact in item_analysis[0].overall_compliance %}
                {% if fact.outcome == 'yes' %} 
                    {% assign icon = 'check' %}
                    {% assign color = 'success' %}
                    {% assign outcome = site.data.ui-text[site.locale].statement_complieance_yes %}
                {% elsif fact.outcome == 'no' %} 
                    {% assign icon = 'times' %}
                    {% assign color = 'danger' %}
                    {% assign outcome = site.data.ui-text[site.locale].statement_complieance_no %}
                {% elsif fact.outcome == 'maybe' %}    
                    {% assign icon = 'minus' %}
                    {% assign color = 'warning' %}
                    {% assign outcome = site.data.ui-text[site.locale].statement_complieance_maybe %}
                {% else %}
                    {% assign icon = 'question' %}
                    {% assign color = 'info' %}
                    {% assign outcome = site.data.ui-text[site.locale].statement_complieance_not_known %}
                {% endif %}
                <p class="card-text ms-3">
                    <i class="fas fa-fw fa-{{ icon }} text-{{ color }}"></i><span class="text-{{ color }}"><b>{{ outcome }}</b></span>: {{ fact.reasoning }}
                </p>
                {% for fact_source in fact.sources %}
                    {% assign source = item_analysis[0].sources | where:'ref', fact_source %}
                    <sup><a class="source_sup" href="#references" title="{{source[0].title}}">{{ source[0].ref }}</a></sup> 
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>    
    <div class="row m-2">
        <div class="col-12 col-sm-6 text-muted small">
            <span class="mb-0">
            {% for category in item[0].categories %}
                 {{ category }}
                 {% if forloop.last == false %}
                    {{ "; "}}
                 {% endif %}
            {% endfor %}
            </span>
        </div>
        <div class="col-12 col-sm-6 text-end text-muted small">
            <b>UID:</b> {{ item[0].id }}
            {% if item_analysis[0].status %}
                {% if item_analysis[0].lastmod %}
                    {% assign date = item_analysis[0].lastmod %}
                {% elsif item_analysis[0].created %}
                    {% assign date = item_analysis[0].created %}
                {% endif %}
            <p class=""> 
                <b>{{ site.data.ui-text[site.locale].last_review | default: "Last review" }}:</b>
                {% include dates_to_text.html %}
            </p>
            {% endif %}
        </div>
    </div>
    <div class="card-footer">
        {% assign type = item[0].ref_type %}
        {% assign source = site.data.documents | where: "id", item[0].ref_id %}
        {% assign url = source[0].url %}
        {% if item[0].ref_page %}
            {% assign url = url | append: '#page=' | append: item[0].ref_page %}
            {% assign text = 'pag. ' | append: item[0].ref_page | append: ", art. " | append: item[0].ref_section %}
        {% endif %}
        {% if item[0].ref_text %}
            {% assign text = item[0].ref_text %}
        {% endif %}
        
        Fuente del compromiso:
        <a href="{{ url }}" class="card-link"> {{ source[0].title }} </a>, {{ text }}
    </div>
</div>

{% assign convergent = "" | split: "," %}
{% assign divergent = "" | split: "," %}
{% assign ambiguous = "" | split: "," %}
{% assign all = "" | split: "," %}

{% assign promises_analysis = site.data.promises_analysis %}
{% for pa in promises_analysis %}
    {% for pa_topic in pa[1].topics %}
        {% for item_topic in item_analysis[0].topics %}
            {% unless all contains pa[1].promise_id %} <!-- to avoid duplicates -->
                {% if pa[1].id != item_analysis[0].id and item_topic.name == pa_topic.name %}
                    {% if pa_topic.position == "ambiguo" or item_topic.position == "ambiguo" %}
                        {% assign ambiguous = ambiguous | push: pa[1].promise_id %}
                    {% elsif item_topic.position != pa_topic.position %}
                        {% assign divergent = divergent | push: pa[1].promise_id %}
                    {% else %}
                        {% assign convergent = convergent | push: pa[1].promise_id %}
                    {% endif %}
                    {% assign all = all | push: pa[1].promise_id %}
                {% endif %}
            {% endunless %}
        {% endfor %}
    {% endfor %}
{% endfor %}

{% if convergent.size > 0 or divergent.size > 0 or ambiguous.size > 0 %}
<div class="card">
    <div class="card-header pb-2 d-flex justify-content-between align-items-start">
        Comparativa con compromisos relacionados
    </div>
    <div class="card-body">
        <div class="row">
            {% if divergent.size > 0 %}
            <div class="notice-danger col-md">
                <div class="border-bottom align-self-center text-center">
                        Objetivos en conflicto
                </div>
                <!-- divergent promises -->
                    {% for d in divergent %}
                        <p><span class="align-self-center ">
                        {% assign p = site.data.promises | where: "id", d %}
                        {% for party in p[0].parties %}
                            {% assign party_name = party %}   
                            {% include logos_settings.html type='party' %}        
                            {% include logos_show.html type='party' %}
                        {% endfor %}
                        {% assign promise_page = site.promises | where: "uid", d | first %}
                        
                            <a class="btn btn-{{class}}" href="{{ promise_page.url }}"> {{ p[0].title }} </a>
                        </span></p>
                    {% endfor %} 
            </div>
            {% endif %}
            {% if ambiguous.size > 0 %}
            <div class="notice-grey col-md">
                <div class="border-bottom align-self-center text-center">
                    Comparativa ambigua
                </div>
                    <!-- ambiguous promises -->
                    {% for d in ambiguous %}
                        <p><span class="align-self-center">
                        {% assign p = site.data.promises | where: "id", d %}
                        {% for party in p[0].parties %}
                            {% assign party_name = party %}   
                            {% include logos_settings.html type='party' %}        
                            {% include logos_show.html type='party' %}
                        {% endfor %}
                        {% assign promise_page = site.promises | where: "uid", d | first %}
                        
                            <a class="btn btn-{{class}}" href="{{ promise_page.url }}"> {{ p[0].title }} </a>
                        </span></p>
                    {% endfor %} 
            </div>
            {% endif %}
            {% if convergent.size > 0 %}
            <div class="notice-success col-md">
                <div class="border-bottom align-self-center text-center">
                    Objetivos compatibles
                </div>
                    <!-- convergent promises -->
                    {% for d in convergent %}
                        <p><span class="align-self-center">
                        {% assign p = site.data.promises | where: "id", d %}
                        {% for party in p[0].parties %}
                            {% assign party_name = party %}   
                            {% include logos_settings.html type='party' %}        
                            {% include logos_show.html type='party' %}
                        {% endfor %}
                        {% assign promise_page = site.promises | where: "uid", d | first %}
                        
                            <a class="btn btn-{{class}}" href="{{ promise_page.url }}"> {{ p[0].title }} </a>
                        </span></p>
                    {% endfor %} 
            </div>
            {% endif %}
        </div> 
    </div>    
</div>
{% endif %}

{% if item_analysis[0].promise_analysis %}
    {% assign analysis = item_analysis[0].promise_analysis %}

<div class="card mb-3">
    <div class="card-header" id="references">
        <strong>Análisis sobre la formulación de la promesa</strong>
    </div>
    <div class="card-body accordion p-0 m-0" id="promiseAnalysis">
        {% for part in analysis %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="promiseAnalysis-heading-{{forloop.index}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#promiseAnalysis-collapse-{{forloop.index}}" aria-controls="collapse-{{forloop.index}}">
                    {{forloop.index}}. "{{ part.statement.quote | truncatewords: 15 }}"

                    {% if part.statement_quality.overall_quality == 'appropiate' %} 
                        {% assign color = 'success' %}
                    {% elsif part.statement_quality.overall_quality == 'deficient' %} 
                        {% assign color = 'danger' %}
                    {% elsif part.statement_quality.overall_quality == 'improvable' %}    
                        {% assign color = 'warning' %}
                    {% else %}
                        {% assign color = 'info' %}
                    {% endif %}

                    <span class="badge bg-{{ color }} me-3 position-absolute top-50 end-0 translate-middle">{{ site.data.ui-text[site.locale].[part.statement_quality.overall_quality] }}</span>
                </button>
            </h2>
            <div id="promiseAnalysis-collapse-{{forloop.index}}" class="accordion-collapse collapse" aria-labelledby="heading-{{forloop.index}}" data-bs-parent="#promiseAnalysis">
                <div class="accordion-body">
                    <h1><b>Fuente</b></h1>
                    <hr>
                    <blockquote class="mb-3">
                        "{{ part.statement.quote }}"
                        {% if part.statement.source_ref %}
                            {% assign source = item_analysis[0].sources | where:'ref', part.statement.source_ref %}
                        {% else %}
                            {% assign source = item_analysis[0].sources | where:'ref', item_analysis[0].source_ref %}
                        {% endif %}
                        {% assign details = part.statement.source_details | default: item_analysis[0].source_details %}

                        <sup><a class="source_sup small" href="#references" title="{{ source[0].title }}">{{ source[0].ref }}</a></sup>
                        <footer class="blockquote-footer text-end mt-2">{{ part.statement.author }} en <cite>{{ source[0].title }}, {{ details }}</cite></footer>
                    </blockquote>
                    <h1><b>{{ site.data.ui-text[site.locale].promise_characteristics }}</b></h1>
                    <hr>
                    {% for feature in part.statement_quality %}
                        <p class="card-text ms-3">
                            {% assign promise_characteristic = feature[0] %}
                            <span><b>{{ site.data.ui-text[site.locale].[promise_characteristic] }}</b></span>
                        {% for reason in feature[1].reasons %}
                            {% if reason.compliance == 'yes' %} 
                                {% assign icon = 'check' %}
                                {% assign color = 'success' %}
                            {% elsif reason.compliance == 'no' %} 
                                {% assign icon = 'times' %}
                                {% assign color = 'danger' %}
                            {% elsif reason.compliance == 'partly' %}    
                                {% assign icon = 'minus' %}
                                {% assign color = 'warning' %}
                            {% else %}
                                {% assign icon = 'question' %}
                                {% assign color = 'info' %}
                            {% endif %}
                            <p class="card-text ms-3 ps-4">
                                <i class="fas fa-fw fa-{{ icon }} text-{{ color }}"></i><span class="text-{{ color }}"></span> {{ reason.reason }}
                            </p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    
                    <br>            
                    
                    {% if part.aditional_info %}
                        <h1><b>Análisis libre</b></h1>
                        <hr>
                        {% assign path = "_tracks/" | append: page.track_name | append: "/analysis/" | append: part.aditional_info | append: ".md" %}
                        {% assign text = site.tracks | where: "path", path %}
                        {% capture text %}{{ text }}{% endcapture %}
                        {{ text | markdownify }}


                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if item[0].result_analysis %}
{% assign analysis = item_analysis[0].result_analysis %}
<div class="card mb-3">
    <div class="card-header" id="references">
        <strong>Análisis sobre los resultados</strong>
    </div>

    <div class="card-body accordion p-0 m-0" id="resultAnalysis">
        {% for part in analysis %}
            {% assign source = item_analysis[0].sources | where:'ref', item_analysis.source_ref %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="resultAnalysis-heading-{{forloop.index}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#resultAnalysis-collapse-{{forloop.index}}" aria-controls="collapse-{{forloop.index}}">
                        {{forloop.index}}. {{ part.title | truncatewords: 15 }}
                    </button>
                </h2>
                <div id="resultAnalysis-collapse-{{forloop.index}}" class="accordion-collapse collapse" aria-labelledby="heading-{{forloop.index}}" data-bs-parent="#resultAnalysis">
                    <div class="accordion-body">
                        <h1><b>Descripción</b></h1>
                        <hr>
                        <blockquote class="mb-3">
                            {{ part.title }}
                            <sup><a class="source_sup small" href="#references" title="{{ source[0].title }}">{{ source[0].ref }}</a></sup>
                            <footer class="blockquote-footer text-end mt-2">{{ part.statement.author }} en <cite>{{ source[0].title }}</cite></footer>
                        </blockquote>
                        <p>{{ part.description }}</p>

                        <h1><b>Proceso legislativo</b></h1>
                        <hr>
                        
                        {% if part.congress.votes %}
                        <h2>Votaciones</h2>

                        <div class="accordion mb-3" id="votes">
                            {% for vote in part.congress.votes %}
                                {% assign votes_data = track_data.votes.[vote] %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="votes-heading-{{vote}}">
                                        <button class="accordion-button collapsed position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#votes-collapse-{{vote}}" aria-controls="collapse-{{forloop.index}}" aria-expanded="false">
                                            {% assign date = votes_data.informacion.fecha%} 
                                            <b>{% include dates_to_text.html %} </b> - {{ votes_data.informacion.textoExpediente | truncatewords: 5 }} 
                                            {% assign mayoria_simple = votes_data.totales.afavor | minus: votes_data.totales.enContra %}
                                            {% if mayoria_simple > 0 %}
                                                <span class="badge bg-success me-3 position-absolute top-50 end-0 translate-middle">Aprobado</span>
                                            {% else %}
                                                <span class="badge bg-danger me-3 position-absolute top-50 end-0 translate-middle">Rechazado</span>
                                            {% endif %}
                                        </button>
                                    </h2>
                                    <div id="votes-collapse-{{vote}}" class="accordion-collapse collapse" aria-labelledby="votes-heading-{{vote}}" data-bs-parent="#votes">
                                        <div class="accordion-body">
                                            <h3><b>Información</b></h3>
                                            <div class="container">
                                                <p>{{ votes_data.informacion.textoExpediente }}</p>
                                                <p>
                                                    <b>Fecha de votación: </b>
                                                    {% assign date = votes_data.informacion.fecha %}
                                                    {% include dates_to_text.html %}
                                                    <b>Sesión: </b>{{ votes_data.informacion.sesion }} 
                                                    <b>Votación nº: </b>{{ votes_data.informacion.numeroVotacion }}
                                                </p>
                                                <p>
                                                    <b>Resultado: </b>
                                                    {% assign mayoria_simple = votes_data.totales.afavor | minus: votes_data.totales.enContra %}
                                                    {% if mayoria_simple > 0 %}
                                                        <span class="badge bg-success">Aprobado</span>
                                                    {% else %}
                                                        <span class="badge bg-danger">Rechazado</span>
                                                    {% endif %}
                                                    <ul class="row col-12">
                                                        <li>
                                                            <b>votos a favor: </b><span class="text-success"> {{ votes_data.totales.afavor }}</span>
                                                        </li>
                                                        <li>
                                                            <b>votos en contra: </b><span class="text-danger"> {{ votes_data.totales.enContra }} </span>
                                                        </li>
                                                        <li>
                                                            <b>Abstenciones: </b><span class="text-primary">{{ votes_data.totales.abstenciones }} </span>
                                                        </li>
                                                        <li>
                                                            {% assign total = votes_data.totales.afavor | plus: votes_data.totales.enContra | plus: votes_data.totales.abstenciones %}
                                                            <b>Total votos: </b> {{ total }}
                                                        </li>
                                                    </ul>
                                                </p>
                                            </div>
                                            <h3><b>Votos por partido</b></h3>
                                            {% include voting_counters.html %}
                                            <ul class="row col-12">
                                                {% for party in parties %}
                                                    {% assign no_counter = 0 %}
                                                    {% assign yes_counter = 0 %}
                                                    {% assign abstention_counter = 0 %}

                                                    {% for vote in votes %}
                                                        {% assign name = vote | replace: "_No", "" | replace: "_Sí", ""  | replace: "_Abstención", "" %}
                                                        {% if name == party %}
                                                            {% if vote contains "_No" %}
                                                                {% assign no_counter = no_counter | plus: 1 %}
                                                            {% elsif vote contains "_Sí" %}
                                                                {% assign yes_counter = yes_counter | plus: 1 %}
                                                            {% else %}
                                                                {% assign abstention_counter = abstention_counter | plus: 1 %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}

                                                    <li class="col-12 col-md-6 col-lg-4 col-xxl-3 list-group-item position-relative">
                                                        {% assign party_name = party %}
                                                        {% include logos_settings.html type='party' %} 
                                                        {% include logos_show.html type='party' %}
                                                        <ul class="row col-12">
                                                            <li>
                                                                <b>votos a favor: </b><span class="text-success"> {{ yes_counter }}</span>
                                                            </li>
                                                            <li>
                                                                <b>votos en contra: </b><span class="text-danger"> {{ no_counter }} </span>
                                                            </li>
                                                            <li>
                                                                <b>Abstenciones: </b><span class="text-primary">{{ abstention_counter }} </span>
                                                            </li>
                                                            <li>
                                                                {% assign total = yes_counter | plus: no_counter | plus: abstention_counter %}
                                                                <b>Total votos: </b> {{ total }}
                                                            </li>
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="container">
                                            <h3><b>Votos por diputado</b></h3>
                                                    <ul class="row col-12">
                                                        {% for vote in votes_data.votaciones %}
                                                                {% assign politician_name = vote.diputado %}                                        
                                                                {% include logos_settings.html type='politician' %}

                                                                {% if vote.voto == "Sí" %}
                                                                    <li class="col-12 col-lg-6 col-xl-4 col-xxl-3 list-group-item position-relative">
                                                                        {{ forloop.index}} 
                                                                        {% include logos_show.html type='politician' %}
                                                                        {{ politician_name }}
                                                                        <span class="badge bg-success position-absolute top-50 end-0 translate-middle">Si</span>
                                                                    </li>
                                                                {% elsif vote.voto == "No"%}
                                                                    <li class="col-12 col-lg-6 col-xl-4 col-xxl-3 list-group-item position-relative">
                                                                        {{ forloop.index}} 
                                                                        {% include logos_show.html type='politician' %}
                                                                        {{ politician_name }}
                                                                        <span class="badge bg-danger position-absolute top-50 end-0 translate-middle">No</span>
                                                                    </li>
                                                                {% else %}
                                                                    <li class="col-12 col-lg-6 col-xl-4 col-xxl-3 list-group-item position-relative">
                                                                        {{ forloop.index}} 
                                                                        {% include logos_show.html type='politician' %}
                                                                        {{ politician_name }}
                                                                        <span class="badge bg-primary position-absolute top-50 end-0 translate-middle">Abstención</span>
                                                                    </li>
                                                                {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        {% if part.congress.intervenciones %}
                        <div class="mb-3">
                        <h2>Intervenciones de los/as diputados/as: </h2>
                        <a href="{{ part.congress.intervenciones }}">Ver intervenciones (web del congreso)</a><br>
                        </div>
                        {% endif %}
                        <br>            
                        
                        {% if part.aditional_info %}
                            <h1><b>Análisis libre</b></h1>
                            <hr>
                            {% assign path = "_tracks/" | append: page.track_name | append: "/analysis/" | append: part.aditional_info | append: ".md" %}
                            {% assign text = site.tracks | where: "path", path %}
                            {% capture text %}{{ text }}{% endcapture %}
                            {{ text | markdownify }}


                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if item_analysis[0].sources %}
<div class="card mb-3">
    <div class="card-header" id="references">
        <b>Fuentes y referencias</b>
    </div>
    <div class="card-body">
        {% for source in item_analysis[0].sources %}
        <p class="card-text small mb-0">
            {% if source.type == "local_doc" %}
                <a class="source_sup" href="{{ site.url }}{{ docs_path }}{{ source.url }}">{{ source.ref }}. {{ source.title }}</a>
            {% else %}
                <a class="source_sup" href="{{ source.url }}">{{ source.ref }}. {{ source.title }}</a>
            {% endif %}
        </p>
        {% endfor %}
    </div>
</div>
<div class="d-flex flex-row mb-3">
    <a class='btn facebook' href="https://www.facebook.com/sharer.php?u={{site.url}}/tracks/{{ page.track_name }}/{{ page.item_name}}&title='{{ item[0].title }} {{ item[0].party }}'"> <i class="fab fa-facebook fa-fw" aria-hidden="true"></i> Compartir</a>
    <a class="btn twitter" href="https://twitter.com/share?url={{site.url}}/tracks/{{ page.track_name }}/{{ page.item_name}}&text={{ item[0].status_info }}&hashtags=Seguimiento-politico"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i> Tweet</a>
</div>
{% endif %}

