<!-- DEPRECATED: Data files and static files (images and documents) share common folder structure -->

{% if scope_data.scope == "national" or scope_data.scope == "regional" or scope_data.scope == "local" and scope_data.country %}
    {% assign scope_path = scope_data.country | slugify | append: '/' %}
    {% if scope_data.region %}
        {% assign scope_path = scope_path | append: scope_data.scope_region | slugify | append: '/' %}
        {% if scope_data.local %}
            {% assign scope_path = scope_path | append: scope_data.local | slugify | append: '/' %}
        {% endif %}
    {% endif %}
{% elsif scope_data.scope == "supranational" and scope_data.organization %}
    {% assign scope_path = scope_data.organization | slugify | append: '/' %}
{% endif %}

