<!-- Data files and static files (images and documents) share common folder structure -->
{% assign path_array = "" | split: ',' %}

{% if track_data.settings.config.scope == "national" or track_data.settings.config.scope == "regional" or track_data.settings.config.scope == "local" and track_data.settings.config.country %}
    {% assign path_array = path_array | push: track_data.settings.config.country %}
    {% if track_data.settings.config.region %}
        {% assign path_array = path_array | push: track_data.settings.config.region %}
        {% if track_data.settings.config.locality %}
            {% assign path_array = path_array | push: track_data.settings.config.locality %}
        {% endif %}
    {% endif %}
{% elsif track_data.settings.config.scope == "international" %}
    {% assign path_array = path_array | push: track_data.settings.config.organization %}
{% endif %}
{% assign scope = path_array[0] %}