{% assign documents = site.data.documents %}
{% assign tracks = site.data.tracks %}

<div class="row">
    <div class="g-4">
        <h2 class="fw-bold text-body-emphasis">Programas electorales y sus promesas</h2>
        <p class="text-body-secondary">Te ofrecemos una alternativa más simple y cómoda que los programas electorales en PDFs que publican los partidos. Usa el navegador web para consultar el contenido y muévete por las secciones que más te interesen a través del índice interactivo lateral. Puedes ocultar el resto de información y céntrate unicamente en las propuestas para ahorrar tiempo</p>
        <p class="text-body-secondary">Esta web y su contenido son el resultado del esfuerzo personal e independiente de ciudadanos comunes, sin afiliaciones políticas ni intereses ocultos. Creemos que es útil para mantener una visión crítica y basada en hechos sobre la política española. Por eso, consideramos que habría sido un desperdicio no compartir algo que, de todas formas, habríamos creado para nuestro propio uso.</p>
        <a href="/docs/" class="btn btn-primary">ver programas </a>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            
    <div class="col d-flex flex-column gap-2">
        <h4 class="fw-semibold mb-0 text-body-emphasis">Facilidad</h4>
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
        <svg class="bi" width="1em" height="1em">
            <use xlink:href="#collection"></use>
        </svg>
        </div>
        <p class="text-body-secondary">Consulta los programas de los principales partidos en un mismo sitio.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <h4 class="fw-semibold mb-0 text-body-emphasis">Accesibilidad</h4>
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
        <svg class="bi" width="1em" height="1em">
            <use xlink:href="#collection"></use>
        </svg>
        </div>
        <p class="text-body-secondary">Más cómodo Puedes consultar la información en cualquier dispositivo, da igual el tamaño de la pantalla, siempre se verá mejor que un PDF.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <h4 class="fw-semibold mb-0 text-body-emphasis">Fidelidad</h4>
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
        <svg class="bi" width="1em" height="1em">
            <use xlink:href="#collection"></use>
        </svg>
        </div>
        <p class="text-body-secondary">Mostramos el contenido original, sin ediciones. Incluimos enlaces al PDF original para que lo puedas verificar.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <h4 class="fw-semibold mb-0 text-body-emphasis">Información</h4>
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
        <svg class="bi" width="1em" height="1em">
            <use xlink:href="#gear-fill"></use>
        </svg>
        </div>
        <p class="text-body-secondary">Aportamos información adicional objetiva y relevante, que aclare lo expuesto incluyendo las fuentes consultadas.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <h4 class="fw-semibold mb-0 text-body-emphasis">Análisis</h4>
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
        <svg class="bi" width="1em" height="1em">
            <use xlink:href="#gear-fill"></use>
        </svg>
        </div>
        <p class="text-body-secondary">Incluimos alertas cuando detectamos defectos lógicos o falacias en las afirmaciones, para facilitar el análisis crítico.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <h4 class="fw-semibold mb-0 text-body-emphasis">Objetividad</h4>
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
        <svg class="bi" width="1em" height="1em">
            <use xlink:href="#gear-fill"></use>
        </svg>
        </div>
        <p class="text-body-secondary">No realizamos juicios de valor sobre las posiciones políticas.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <h4 class="fw-semibold mb-0 text-body-emphasis">Simplicidad</h4>
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
        <svg class="bi" width="1em" height="1em">
            <use xlink:href="#collection"></use>
        </svg>
        </div>
        <p class="text-body-secondary">Consulta sólo los compromisos, excluye lo demás.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <h4 class="fw-semibold mb-0 text-body-emphasis">Seguimiento</h4>
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
        <svg class="bi" width="1em" height="1em">
            <use xlink:href="#speedometer"></use>
        </svg>
        </div>
        <p class="text-body-secondary">Comprueba el grado de cumplimiento de cada promesa.</p>
    </div>

    <div class="col d-flex flex-column gap-2">
        <h4 class="fw-semibold mb-0 text-body-emphasis">Filtra</h4>
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
        <svg class="bi" width="1em" height="1em">
            <use xlink:href="#gear-fill"></use>
        </svg>
        </div>
        <p class="text-body-secondary">Elige las temáticas que te interesan, fuera el resto.</p>
    </div>

</div>

<div class="row">
    <div id="carouselDocs" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for doc in documents reversed %}
                {% if doc[1].publication_date %}
                    {% assign date = doc[1].publication_date %}
                {% else %}
                    {% assign date = doc[1].election_date %}
                {% endif %}

                {% if forloop.first %} 
                    {% assign active = "active" %} 
                {% else %} 
                    {% assign active = "" %} 
                {% endif %}

                {% assign mod = forloop.index | modulo:3 %}
                

                {% if forloop.first or mod == 1 %}
                    <div class="carousel-item {{active}}">
                        <div class="row align-items-center">
                {% endif %}
                
                <div class="col-4">
                    <img src="/assets/images/documents/{{ doc[1].id }}.png" class="d-block" alt="{{ doc[1].parties }} - {{ date | date: '%Y'}}">
                </div>

                {% if forloop.last or mod == 0 %}
                        </div>
                    </div>  
                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselDocs" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselDocs" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
    </div>
</div>

<div class="row">
    <div id="carouselTracks" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for track in tracks %}
                {% if track[1].draft == true %}
                    {% continue %}
                {% endif %}

                {% assign track_data = track[1] %}

                {% assign slug = track_data.name | slugify %}
                
                {% assign teasers = site.images_path | append: 'teasers/' %}
                {% assign teaser = teasers | append: slug | append: '.png' %}     

                {% assign type_label = track_data.items_type | append: 's_label' %}

                {% if forloop.first %} 
                    {% assign active = "active" %} 
                {% else %} 
                    {% assign active = "" %} 
                {% endif %}

                {% assign mod = forloop.index | modulo:3 %}

                {% if forloop.first or mod == 1 %}
                    <div class="carousel-item {{active}}">
                        <div class="row align-items-center">
                {% endif %}
                            <div class="col-3">
                                <img src="{{ teaser }}" class="d-block" alt="{{ track_data.name }}">
                            </div>
                {% if forloop.last or mod == 0 %}
                        </div>
                    </div>  
                {% endif %}      

                

            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTracks" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black;"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselTracks" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="color: black;"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
    </div>
</div>



