{% assign color-up = 'text-success' %}
{% assign color-down = 'text-danger' %}
{% assign color-mixed = 'text-warning' %}
{% assign color-neutral = 'text-primary' %}

{% assign color-position-up = color-up %}
{% assign color-position-down = color-down %}

{% assign color-status-quo-up = color-up %}
{% assign color-status-quo-down = color-down %}
{% assign color-status-quo-mixed = color-mixed %}

{% assign icon-position-up = 'fa-thumbs-up' %}
{% assign icon-position-down = 'fa-thumbs-down' %}
{% assign icon-position-mixed = 'fa-thumbs-up fa-thumbs-down' %}

{% assign icon-status-quo-up = 'fa-arrow-trend-up' %}
{% assign icon-status-quo-down = 'fa-arrow-trend-down' %}
{% assign icon-status-quo-mixed = 'fa-shuffle' %}

{% assign icon-promotes = 'fa-arrow-up' %}
{% assign icon-obstructs = 'fa-arrow-down' %}

<!-- TODO: pending language internationalization -->

{% assign text-position-up = 'a favor' %}
{% assign text-position-down = 'en contra' %}

{% assign text-status-quo-up = 'buena tendencia' %}
{% assign text-status-quo-down = 'mala tendencia' %}
{% assign text-status-quo-mixed = 'tendencia variable' %}

{% assign text-promotes = 'promueve' %}
{% assign text-obstructs = 'obstruye' %}