<div class="card py-3 shadow-sm">
    <div class="container">
        {% for track in site.data.trackers %}
            {% if track[1].draft == true %}
                {% continue %}
            {% endif %}
            {% assign teaser = site.institutions_path %}
            {% if track[1].context.scope == "national" or track[1].context.scope == "regional" or track[1].context.scope == "local" and track[1].context.country %}
              {% assign teaser = teaser | append: track[1].context.country | append: '/' %}
              {% if track[1].context.region %}
                {% assign teaser = teaser | append: track[1].context.region | append: '/' %}
                    {% if track[1].context.locality %}
                        {% assign teaser = teaser | append: track[1].context.locality | append: '/' %}
                    {% endif %}
              {% endif %}
            {% endif %}
            {% if track[1].context.institution %}
              {% assign teaser = teaser | append: track[1].context.institution | append: '.png' %}
            {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3">
            <div class="col">
              <div class="card shadow-sm bg-light">
                {% if teaser != site.teaser %}
                  <img src="{{ teaser }}" class="" alt="{{ track[1].context.institution }}">
                {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{ track[1].context.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted small">{{ track[1].context.from }} a {% if track[1].context.to %} {{ track[1].context.to }} {% else %} actualidad {% endif %}</h6>
                  <p class="card-text">{{ track[1].context.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-primary" href="tracks/{{ track[0] }}" role="button">{{ site.data.ui-text[site.locale].view_label | default: "view" | downcase }}</a>
                        <a class="btn btn-sm btn-outline-secondary" href="{{ site.raw-repository-source }}{{ site.repository}}/master/_data/trackers/{{ track[0] }}.yaml" role="button">{{ site.data.ui-text[site.locale].open_label | default: "open data" | downcase }}</a>
                    </div>
                    <small class="text-muted">{{ track[1].promises | size }} {{ site.data.ui-text[site.locale].promises_label | default: "promises" | downcase }}</small>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
        