<div class="card py-3 shadow-sm">
    <div class="container">
        {% for track in site.data.trackers %}
            {% if track[1].draft == true %}
                {% continue %}
            {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3">
            <div class="col">
              <div class="card shadow-sm bg-light">
                {% if track[1].context.teaser %}
                <img src="{{ track[1].context.teaser }}" class="" alt="{{ track[1].context.name }}">
                {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{ track[1].context.name }}</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ track[1].context.name }}</text></svg>
                {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{ track[1].context.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted small">{{ track[1].context.from }} a {% if track[1].context.to %} {{ track[1].context.to }} {% else %} actualidad {% endif %}</h6>
                  <p class="card-text">{{ track[1].context.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-primary" href="tracks/{{ track[0] }}" role="button">{{ site.data.ui-text[site.locale].view_label | default: "view" | downcase }}</a>
                        <a class="btn btn-sm btn-outline-secondary" href="{{ site.repository-source }}{{ site.repository}}/master/_data/trackers/{{ track[0] }}.yaml" role="button">{{ site.data.ui-text[site.locale].open_label | default: "open data" | downcase }}</a>
                    </div>
                    <small class="text-muted">{{ track[1].promises | size }} {{ site.data.ui-text[site.locale].promises_label | default: "promises" | downcase }}</small>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
        