<div class="border my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2">{{ site.data.ui-text[site.locale].track_info_label | default: "Data and info about" }} {{ context.name }}</h6>
    <div class="row pt-2">
        <!-- % assign not_achieved = promises | where_exp: "item", "item.status contains 'Broken' or item.status contains 'Not started' or item.status contains 'In progress'" % 
                % assign not_achieved_percent = not_achieved | times: 100 | divided_by: total % -->
        <p>
            <b>Comienza el</b>  {{ context.from }} <b>hasta</b>  {% if context.to %} {{ context.to }} {% else %} Actualidad {% endif %} <b>durante</b> 
            <span id="days-in-office"><i class='loading'>Loading...</i></span> días
        </p>
        <p>
            <b>Total compromisos electorales: </b> {{ promises | size }} 
            de los cuales <span class="text-danger"> el {{ not_achieved_percent }}% no se han cumplido</span> y <span class="text-success"> el % sí.</span>
        </p> 
    </div>
</div>