<!-- To be compliant with the GDPR, you have to have user consent for all non-functional and third pary cookies and scripts. This script allows you to delay the loading of certain Javascript includes, until the user clicks on ‘Approve’ in a cookie banner. -->
<div id="cookie-notice">
    <span>Si nos lo permites querríamos poder usar cookies y scripts de terceros para mejorar la funcionalidad de esta página web.</span><a id="cookie-notice-accept" class="btn btn-primary btn-sm">Aceptar</a><a href="/privacy" target="_blank" class="btn btn-primary btn-sm">Mas info</a>
</div>