.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment+.comment{
  margin-top: 2em;
}
.comment.child-1{
  margin-left: 40px;
}
.comment.child-2{
  margin-left: 80px;
}
.comment.child-3{
  margin-left: 120px;
}
.comment.child-4{
  margin-left: 160px;
}
.comment.child-5{
  margin-left: 200px;
}
.comment.child-6{
  margin-left: 240px;
}
@media (min-width: 48em) {
  .comment.child {
    margin-left: 40px;
  }
}
.comment__avatar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
}
@media (min-width: 48em) {
  .comment__avatar {
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }
 } 
.comment__avatar img {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
}
@media (min-width: 48em) {
  .comment__avatar img {
    width: 60px;
    height: 60px;
  }
}  
.no-js img.lazyload {
  display: none;
}
.lazyload,.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.comment__main {
  min-width: calc(100% - 40px);
}
@media (min-width: 48em){
  .comment__main {
    min-width: calc(100% - 80px);
  }
}  
.comment__meta {
  margin-bottom: 1em;
  padding-bottom: .25em;
  border-bottom: 1px solid #ccc;
}
.comment__message {
  font-size: .9em;
}
.comment__message>:last-child {
  margin-bottom: 0;
}
.comment__message img {
  max-width: 100%;
}
.comment__reply {
  margin-top: .5em;
}
#cancel-comment-reply-link {
  float: right;
}