#btn-back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 100;
}

.source_sup{
  outline: none;
  text-decoration: none;
}

#cookie-notice {
  padding: 0.5rem 1rem; 
  display: none; 
  text-align: center; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  background: #222; 
  color: rgba(255,255,255,0.8);
}

#cookie-notice a {
  display: inline-block; 
  cursor: pointer; 
  margin-left: 0.5rem;
}

.bd-layout {
	display: flex;
	grid-template-areas: "sidebar main";
	grid-template-columns: 1fr 5fr;
	gap: 1.5rem;
}

.bd-main {
	grid-template-areas: "toc   intro" "toc content";
	grid-template-rows: 1fr auto;
	grid-template-columns: 2fr 5fr;
}

.summary {
  position: relative;
  text-align: justify;
  text-justify: inter-word;
}

.summary .collapse, 
.summary .collapsing {
  height: 3rem;
}

.summary .collapse {
  display: block; // By default the bootstrap collapse has a display: none
  overflow: hidden;
}

.summary .collapse.show {
  height: auto;
}

.summary a.collapsed:after {
  position: absolute;
  bottom:-20px;
  right:0;
  content: '+ leer más';
}

.summary a:not(.collapsed):after {
  position: absolute;
  bottom:0;
  right:0;
}

.read-more {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  // 60% is where it should start the transition from transparent to white, increase it if you want to show more of your text
  background-image: linear-gradient(to bottom, transparent 20%, #f8f9fa);

  // The opacity and transition is just to smooth out the effect 
  opacity: 1;
  transition: all .3s linear;
}

.read-more:not(.collapsed) {
  //opacity: 0;
  // If you want to make the clickable area disapear once it is open, change the visibility to hidden:
  visibility: hidden;
}

.topic {
  font-size: 12px;
}


