#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.source_sup{
  outline: none;
  text-decoration: none;
}

#cookie-notice {
  padding: 0.5rem 1rem; 
  display: none; 
  text-align: center; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  background: #222; 
  color: rgba(255,255,255,0.8);
}

#cookie-notice a {
  display: inline-block; 
  cursor: pointer; 
  margin-left: 0.5rem;
}

.bd-layout {
	display: flex;
	grid-template-areas: "sidebar main";
	grid-template-columns: 1fr 5fr;
	gap: 1.5rem;
}

.bd-main {
	grid-template-areas: "intro   toc" "content toc";
	grid-template-rows: auto 1fr;
	grid-template-columns: 5fr 2fr;
}

@media (max-width: 767px) {
        #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
        #cookie-notice a {position: relative; bottom: 4px;}
    }
