---
layout: compress
---

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="{{ site.locale | slice: 0,2 | default: 'es' }}" class="no-js">
    <!-- Viren Mohindra and Nuked Studios Copyright 2016 MIT Open Source @ https://github.com/TrumpTracker/trumptracker.github.io -->
    <head>

        {% include head.html %}

    </head>
    <body class="bg-light">

        {% include navbar.html %}

        <div class="container my-3">

            {{content}}

        </div>

        {% include footer.html %}

        {% include scripts.html %}
        
    </body>
</html>

