---
layout: default
---
{% assign doc = site.data.documents.[page.doc_name] %}
{% assign page_view = page.view | default: 'statements-promises' %}
{% assign page_topics = page.topics | default: true %}
{% assign page_analysis = page.analysis | default: true %}
{% assign hide_numeration = page.hide_numeration | default: false %}

{% assign docs = site.docs | where: 'doc_name', page.doc_name %}
{% assign doc_promises = docs | where: 'view', 'promises' | first %}
{% for d in docs %}
    {% if d.view == 'statements-promises' %}
        {% assign doc_all = d %}
    {% else %}
        {% unless d.view and d.view != "" and d.view != nil %}
            {% assign doc_all = d %}
        {% endunless %}
    {% endif %}
{% endfor %}

<div data-bs-spy="scroll" data-bs-target="#TableOfContents" class="container-fluid my-3">

    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">

        <main class="bd-main">

            <div class="bd-intro">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <div class="h4 ms-3 d-flex" id="content">
                        {{ doc.parties}} - {{ doc.election_type}} {{ doc.election_date | date: "%Y" }}
                        <span class="d-none d-md-block ms-3"> - {{ doc.title }} </span> 
                        {% if page_view == 'promises' %} 
                            <span class='d-none d-md-block text-muted small ms-3'> (solo promesas)</span> 
                            <span class='d-md-none text-muted small ms-3'> (promesas)</span> 
                        {% else %} 
                            <span class='d-none d-md-block text-muted small ms-3'> (versión completa)</span> 
                            <span class='d-md-none text-muted small ms-3'> (v. completa)</span> 
                        {% endif %}
                    </div>
                    <div class="d-flex text-nowrap ms-3">
                        {% if page_view contains "statements" %}
                            {% if doc_promises %}
                            <a class="btn btn-sm btn-bd-light rounded-2 ms-2" href="{{doc_promises.url}}" title="Ver solo las promesas" rel="noopener">
                                <i class="fas fa-fw fa-eye-slash fa-fw"></i> 
                                <span class="d-none d-md-block">Ver solo promesas</span>
                            </a>
                            {% endif %}
                        {% else %}
                            {% if doc_all %}
                                <a class="btn btn-sm btn-bd-light rounded-2 ms-2" href="{{doc_all.url}}" title="Ver documento completo" rel="noopener">
                                    <i class="fas fa-fw fa-eye fa-fw"></i> 
                                    <span class="d-none d-md-block">Ver todo</span>
                                </a>
                            {% endif %}
                        {% endif %}
                        <a class="btn btn-sm btn-bd-light rounded-2 ms-2" href="{{doc.url}}" title="Ver el documento original" target="_blank" rel="noopener">
                            <i class="fas fa-fw fa-file-pdf fa-fw"></i> 
                            <span class="d-none d-md-block">PDF original</span>
                        </a>
                        <a class="btn btn-sm btn-bd-light rounded-2 ms-2" href="{{doc.web_history}}" title="Ver el documento original (respaldo)" target="_blank" rel="noopener">
                            <i class="fas fa-fw fa-calendar-days fa-fw"></i> 
                            <span class="d-none d-md-block">Copia PDF</span>
                        </a>
                    </div>
                    
                </div>
                <hr class="d-none d-md-block my-2">
            </div>

            <!-- TOC -->
            <div class="bd-toc text-body-secondary">
                <button class="btn btn-link p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false" aria-controls="tocContents">
                Índice
                <svg class="bi d-md-none ms-2" aria-hidden="true"><use xlink:href="#chevron-expand"></use></svg>
                </button>
                <strong class="d-none d-md-block h6 my-2 ms-3">Índice</strong>
                <hr class="d-none d-md-block my-2 ms-3">
                <div class="collapse bd-toc-collapse"id="tocContents">
                    <nav id="TableOfContents">
                        <ul>
                            {% assign levels = 3 %}
                            {% assign index = 0 %}
                            {% include document_toc_loop.html position=doc.content %}                
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- CONTENT -->
            {% include topics_styling.html %}
            <div class="bd-content ps-lg-2" id="doc_content">
                {% include document_content_loop.html level=0 position=doc.content view=page_view topics=page_topics analysis=page_analysis %}
            </div>

        </main>
    </div>
</div>




