---
layout: page
permalink: /:basename/
---

{% assign promise = site.data.data.promises | where:'id', page.promise_id | first %}
{% assign status = site.data.data.statuses[promise.status] %}

<link rel="stylesheet" type="text/css" href="../css/promisepage.css">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{ promise.title }}</h2>
      {{ promise.category }}
	    <p>{{ promise.description }}</p>
    </div>

    <div class="col-md-12">
      <h4>Estado: <span style='color: {{ status.color }};'>{{ promise.status }}</span></h4>
  	  {{ promise.status_info }}
    </div>

    <div class="col-md-12">
      <h4>Fuentes:</h4>
  	  <ul class='sources'>
        {% for source in promise.sources %}
        {{ source }}
          <!-- show electoral program info -->
          {% if source.program %}
            {% assign party = site.data.data.parties | where:'name', promise.party | first %}
            {% if party.program_url %}
              {% for src in source.program %}
                <li><a class='src' target='_blank' href='{{ site.baseurl }}/{{ party.program_url }}'>Programa electoral, apartado {{ src }}</a></li>
              {% endfor %}
            {% else %}
              <li>Programa electoral, apartado {{ src }}</li>
            {% endif %}
          {% endif %}
          <!-- show other sources -->
          {% if source.other %}
            {% for src in source.other %}
                <li><a class='src' target='_blank' href='{{ src }}'>{{ src }}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
  	  </ul>
    </div>

    <div class="col-md-12">
      <a class='btn facebook' target="_blank" href="https://www.facebook.com/sharer.php?u={{site.baseurl}}/{{ promise.url }}/&title={{ promise.title }}"> <i class="fa fa-facebook-square fa-fw" aria-hidden="true"></i> Compartir</a>
      <a class="btn twitter" href="https://twitter.com/share?url={{site.baseurl}}/&text={{ promise.tweettext }}&hashtags=Seguimiento-politico" target="_blank"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> Tweet</a>
    </div>

  </div>
  <BR>
  <div id="reddit_comments">
	  <h3 class='comments'>Comments</h3>
	  <a target="_blank" href="{{ page.comments }}" class="btn btn-primary placecomment"><i class="fa fa-pencil" aria-hidden="true"></i> Place comment</a>
	  <p class='commentcount'></p>
	  <div class="loader"></div>
	  <div class="panel-group"><div class="noscript">Please enable Javascript and disable any adblocker to view comments.</div></div>
  </div>
</div>
<script>var redditid = '{{ page.commentsid }}';</script>
<script src="../js/snuownd.min.js"></script>
<script src="../js/promisepage.js"></script>