---
layout: page
permalink: /:basename/
---
{% assign dataset = page.dataset %}
{% assign promise = site.data.[dataset].govern-promises | where:'id', page.promise_id | first %}
{% assign status = site.data.[dataset].statuses[promise.status] %}

<link rel="stylesheet" type="text/css" href="../assets/css/promisepage.css">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{ promise.title }}</h2>
      {{ promise.category }}
	    <p>{{ promise.description }}</p>
    </div>

    <div class="col-md-12">
      <h4>Estado: <div class='btn btn-{{ status.color }}'> {{ promise.status }}</div></h4>

  	  {{ promise.status_info }}
    </div>

    <div class="col-md-12">
      <h4>Fuentes:</h4>
  	  <ul class='sources'>
        {% for source in promise.sources %}
          <!-- show electoral program info -->
          {% if source.program %}
            {% assign party = site.data.[dataset].parties | where:'name', promise.party | first %}
            {% if party.program_url %}
              {% for src in source.program %}
                <li><a class='src' target='_blank' href='{{ site.url }}{{ party.program_url }}'>Programa electoral {{ party.name }}, apartado {{ src }}</a></li>
              {% endfor %}
            {% else %}
              <li>Programa electoral {{ party.name }}, apartado {{ src }}</li>
            {% endif %}
          {% endif %}
          <!-- show other sources -->
          {% if source.other %}
            {% for src in source.other %}
                <li><a class='src' target='_blank' href='{{ src }}'>{{ src }}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
  	  </ul>
    </div>

    <div class="col-md-12">
      <a class='btn facebook' target="_blank" href="https://www.facebook.com/sharer.php?u={{site.baseurl}}/{{ promise.url }}/&title={{ promise.title }}"> <i class="fa fa-facebook-square fa-fw" aria-hidden="true"></i> Compartir</a>
      <a class="btn twitter" href="https://twitter.com/share?url={{site.baseurl}}/&text={{ promise.tweettext }}&hashtags=Seguimiento-politico" target="_blank"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> Tweet</a>
    </div>

  </div>
  <div class="row">
    {% if site.comments.provider %}
      {% include comments.html %}
    {% endif %}
  </div>

</div>