---
layout: page
---
<!-- load common variables -->
{% assign track_data = site.data.tracks.trackers.[page.subfolder].[page.track_name] %}
{% assign item = site.data.tracks.items.[page.subfolder].[page.track_name].[page.item_name] %}

{{ content }}

{% include breadcrumb.html %}

<!-- include custom html depending on track type -->
{% if track_data.config.type == 'politics' and track_data.config.subtype == 'promises' and track_data.config.agents == 'parties' %}
    <!-- politics party promises -->
    {% include politics_promises_parties_item.html %}
{% elsif track_data.config.type == 'politics' and track_data.config.subtype == 'promises' and track_data.config.agents == 'politicians' %}
    <!-- politics politicians promises -->
    {% include politics_promises_politicians_item.html %}
{% endif %}








