---
layout: page
---
<!-- load common variables -->
{% assign track_data = site.data.tracks.trackers.[page.subfolder].[page.track_name] %}
{% assign item = site.data.tracks.items.[page.subfolder].[page.track_name].[page.item_name] %}

{{ content }}

{% include breadcrumb.html %}

<!-- include custom html depending on track type -->
{% case track_data.config.type %}
    {% when 'politics-promises-by-party' %}
        {% include politics_promises_parties_item.html %}

    {% when 'politics-statements-by-politician' %}


{% endcase %}








