---
layout: page
---
<!-- load common variables -->
{% assign track_data = site.data.tracks.[page.track_name] %}
{% assign item = track_data.[page.item_name] %}

{{ content }}

{% include breadcrumb.html %}

<!-- include custom html depending on track type -->
{% case track_data.settings.config.type %}
    {% when 'politics-promises-by-party' %}
        {% include politics_promises_parties_item.html %}

    {% when 'politics-statements-by-politician' %}


{% endcase %}








