---
layout: page
---
<!-- load common variables -->
{% assign track_data = site.data.tracks.[page.track_name] %}

{% if track_data.config.group_by == "legislature"  %}  
    {% assign items = site.data.statements | where: 'type', "promise" | where: 'election_type', track_data.context.election_type | where: 'election_date', track_data.context.from %}
    {% assign documents = site.data.documents | where: 'election_type', track_data.context.election_type | where: 'election_date', track_data.context.from | where: 'type', "promise" | sort: 'title' %}
{% elsif track_data.config.group_by == "party" %}
    {% assign items = site.data.statements | where: 'type', "promise" | where: "parties", track_data.config.party %}
    {% assign documents = site.data.documents | where: 'parties', track_data.config.party | sort: 'title' %}
{% else %}
    {% assign items = "" | split:"," %}
{% endif %}

{% assign total = items  | size %}

{{content}}

<!-- include custom html depending on track type -->
{% case track_data.config.type %}
    {% when 'politics-promises-by-party' %}
        {% include politics_promises_parties.html by='party' %}

    {% when 'politics-promises-by-politician' %}    
        {% include politics_promises_politicians.html by='politician' %}

    {% when 'politics-statements-by-politician' %}    
        {% include politics_statements_politicians.html %}
    
    {% when 'politics-facts' %}    
        {% include politics_facts.html %}
        
{% endcase %}

