---
layout: page
---
<!-- load common variables -->
{% assign track_data = site.data.tracks.trackers.[page.subfolder].[page.track_name] %}
{% assign items = site.data.tracks.items.[page.subfolder].[page.track_name] %}

{% assign total = items | size %}

{{content}}

{% include breadcrumb.html %}

<!-- include custom html depending on track type -->
{% if track_data.config.type == 'politics' and track_data.config.subtype == 'promises' and track_data.config.agents == 'parties' %}
    <!-- politics party promises -->
    {% include politics_promises_parties.html %}
{% elsif track_data.config.type == 'politics' and track_data.config.subtype == 'promises' and track_data.config.agents == 'politicians' %}
    <!-- politics politicians promises -->
    {% include politics_promises_politicians.html %}
{% endif %}

