---
layout: page
---

<div class="card py-3 shadow-sm">
    <div class="container">
        <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {% assign tracks = site.data.tracks | sort %}
        
        {% for track in tracks %}
            {% assign config_data = track[1].config %} 
            {% if track[1].draft == true %}
                {% continue %}
            {% endif %}
            
            {% assign teaser = site.images_path | append: 'teasers/' %}  
            
            {% assign scope_data = track[1] %}
            {% include scope_path.html %}         
            {% if track[1].institution %}
                {% assign scope_path = scope_path | append: track[1].institution | append: '.png' %}
            {% endif %}
            {% assign teaser = teaser | append: scope_path %} 
                <div class="col py-3">
                    <div class="card shadow-sm bg-light h-100">
                        {% if teaser != site.teaser %}
                            <img src="{{ teaser }}" class="" alt="{{ track[1].institution }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ track[1].context.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted small">{{ track[1].context.from }} a {% if track[1].context.to %} {{ track[1].context.to }} {% else %} actualidad {% endif %}</h6>
                            <p class="card-text">{{ track[1].context.description }}</p>
                            
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary" href="{{ track[0] }}" role="button">{{ site.data.locales.ui-text[site.lang].view_label | default: "view" | downcase }}</a>
                                </div>
                                {% assign track_name = track[0] %}
                                {% if config_data.group_by == "legislature"  %}  
                                    {% assign items = site.data.statements | where: "type", "promise" | where: "election_type", track[1].context.election_type | where: "election_date", track[1].context.from %}
                                {% elsif config_data.group_by == "party" %}
                                    {% assign items = site.data.statements | where: "type", "promise" | where: "parties", config_data.party %}
                                {% else %}
                                    {% assign items = "" | split:"," %}
                                {% endif %}
                                <small class="text-muted">{{ items | size }} {{ site.data.locales.ui-text[site.lang].promises_label | default: "promises" | downcase }}</small>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
</div>
<br>
